<div  layout="column" ng-cloak class="md-inline-form">
	<form name="userFormDetails">
	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
	<label>Korisnik {{$index+2}}</label>
		<div>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Ime</label>
				<input type="text" ng-model="user.ime" required/>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Prezime</label>
				<input type="text" ng-model="user.prezime" required/>
			</md-input-container>
			<md-input-container>
				<label>Datum rodjenja</label>
				<input type="date" ng-model="user.myDate" placeholder="Enter date" min-date="minDate" max-date="maxDate" required/>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Broj pasosa</label>
				<input type="text" ng-model="user.pasos" required/>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>JMBG</label>
				<input type="text" ng-model="user.jmbg" required/>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Pol</label>
				<md-select ng-model="userMain.pol" required>
					<md-option value="musko">Musko</md-option>
					<md-option value="zensko">Zensko</md-option>
				</md-select>
			</md-input-container>
		</div>
	</md-content>
	</form>
</div>