

<md-step label="{{ 'ADDITIONAL_OPTIONS' | translate }}" md-complete="vm.stepData[vm.stepNo+1].data.completed" ng-disabled="vm.stepProgress < 4">
    <md-step-body>
        <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep()">
            <md-content class="md-padding">

                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'OFFER' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>

                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'HOME_INSURANCE' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>Opis Opis Opis</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-radio-group class="homeInsuranceRadio" ng-model="vm.homeInsuranceRadio">
                            <md-radio-button value="true">{{'HOME_INSURANCE_WANT' | translate}}</md-radio-button>
                            <md-radio-button value="false">{{'NOT_INTERESTED' | translate}}</md-radio-button>
                        </md-radio-group>
                    </md-card-actions>
                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'VEHICLE_INSURANCE' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>Opis Opis Opis</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-radio-group class="vehicleInsuranceRadio" ng-model="vm.vehicleInsuranceRadio">
                            <md-radio-button value="true">{{'VEHICLE_INSURANCE_WANT' | translate}}</md-radio-button>
                            <md-radio-button value="false">{{'NOT_INTERESTED' | translate}}</md-radio-button>
                        </md-radio-group>
                    </md-card-actions>
                </md-card>
            </md-content>
            <md-step-actions layout="row">
                <div flex layout="row" layout-align="end top">
                    <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                    <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                </div>
            </md-step-actions>
        </form>

    </md-step-body>
</md-step>