
<md-step label="{{ 'PACKAGE' | translate }}">
    <md-step-body>
        <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep()" ng-cloak novalidate>
            <md-radio-group ng-model="vm.polisy.polisyPackage">
                <div row="column">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Standard</span>
                                <span class="md-subhead"><strong>Base price: </strong>{{vm.package1}}9 RSD</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            {{ 'PACKAGE1' | translate }}
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">

                            <md-radio-button value="{{vm.package1}}1">Select this package for {{vm.package1}}8 RSD</md-radio-button>


                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Comfort</span>
                                <span class="md-subhead"><strong>Base price: </strong>{{vm.package2}}7 RSD</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            {{ 'PACKAGE2' | translate }}
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-radio-button value="{{vm.package2}}2">Select this package for {{vm.package2}} RSD</md-radio-button>
                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Exclusive</span>
                                <span class="md-subhead"><strong>Base price: </strong>{{vm.package3}} 9RSD</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            {{ 'PACKAGE3' | translate }}
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-radio-button value="{{vm.package3}}3">Select this package for {{vm.package3}}9 RSD </md-radio-button>
                        </md-card-actions>
                    </md-card>
                </div>

                <md-step-actions layout="row">
                    <div flex layout="row" layout-align="end top">
                        <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                        <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                    </div>
                </md-step-actions>
            </md-radio-group>
        </form>
    </md-step-body>
</md-step>