<div id="mainBodyPreview">
    <div class="row">
        <div  class="col-xs-6">
            <h2>{{ 'TRAVEL_INSURANCE_POLICY' | translate}}</h2>
            <table class="table">
                <tr>
                    <td>{{'TYPEOFTRAVEL' | translate}}:</td>
                    <td>{{vm.polisy.travelType}}</td>
                </tr>
                <tr>
                    <td>{{'PURPOSE' | translate}}:</td>
                    <td> {{vm.polisy.riskType}}</td>
                </tr>
                <tr>
                    <td> {{'SPORT' | translate}}: </td>
                    <td>{{vm.polisy.sport}}</td>
                </tr>
                <tr>
                    <td> {{'DESTINATION' | translate}}:</td>
                    <td> {{vm.polisy.destination}}</td>
                </tr>
                <tr>
                    <td>{{'START_DATE' | translate}}:</td>
                    <td> {{vm.polisy.date}}</td>
                </tr>
                <tr>
                    <td>{{'END_DATE' | translate}}:</td>
                    <td> {{vm.polisy.endDate}}</td>
                </tr>
            </table>
        </div>
        <div  class="col-xs-6">
            <table>
                <tr>
                    <td>
                        <img src="./images/rsz_logo_crop.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>Your safety has no price!</h1>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <h2>{{'USER_INFO_PRICE' | translate}}</h2>
        <table class="table" >
            <tr>
                <th>{{'NAME' | translate}}</th>
                <th>{{'SURNAME' | translate}}</th>
                <th>JMBG</th>
                <th>{{'PASSPORT' | translate}}</th>
                <th>{{'PRICE' | translate}}</th>
            </tr>
            <tr ng-repeat="person in vm.polisy.listOfUsers">
                <td>{{person.name}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.jmbg}}</td>
                <td>{{person.passport}}</td>
                <td>{{person.chosenPackagePrice}}</td>
            </tr>
        </table>
        <table class="table">
            <tr>
               <td><label>{{'POLICY_OWNER_EMAIL' | translate}}:</label> {{vm.polisy.listOfUsers[0].email}}</td>
            </tr>
        </table>
        <p class="text-right">{{'TOTAL_PRICE' | translate}}: <label>{{vm.polisy.polisyPackage}}</label></p>
    </div>

    <div class="row" ng-show="vm.homeInsuranceRadio == 'true'">
        <div>
        <h2>{{'HOME_INFO' | translate}}</h2>
        <div class="col-xs-6">     
            <table class="table">
                <tr><td>{{'OWNER' | translate}}: </td><td>{{vm.homeInfo.owner}}</td></tr>
                <tr><td>{{'JMBG_HOME_OWNER' | translate}}: </td><td>{{vm.homeInfo.ownerJMBG}}</td></tr>
                <tr><td>{{'ADDRESS' | translate}}: </td><td>{{vm.homeInfo.address}}</td></tr>
                <tr><td>{{'FLAT_SIZE' | translate}}: </td><td>{{vm.homeInfo.flatSize}}</td></tr>
                <tr><td>{{'BUILD_YEAR' | translate}}: </td><td>{{vm.homeInfo.buildYear}}</td></tr>
                <tr><td>{{'ESTIMATED_VALUE' | translate}}: </td><td>{{vm.homeInfo.estimatedValue}}</td></tr>
            </table>
        </div>
            <div class="col-xs-6">
                <table class="table">
                    <tr>
                        <th>{{'INSURED_FROM' | translate}}</th>
                    </tr>
                </table>
                <table class="table">
                    <tr ng-show="vm.homeInfo.fire"><td>{{'FIRE' | translate}} </td></tr>
                    <tr ng-show="vm.homeInfo.flood"><td>{{'FLOOD' | translate}} </td></tr>
                    <tr ng-show="vm.homeInfo.robbery"><td>{{'ROBERRY' | translate}} </td></tr>
                </table>
                <p class="text-right">{{'TOTAL_PRICE' | translate}}: <label>{{vm.packageHome}}</label></p>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.vehicleInsuranceRadio == 'true'">
        <div>
        <h3>{{'VEHICLE_INFO' | translate}}</h3>
        <div class="col-xs-6">
            <table class="table">
                <tr><td>{{'OWNER' | translate}}: </td><td>{{vm.vehicleInfo.owner}}</td></tr>
                <tr><td>{{'JMBG_HOME_OWNER' | translate}}: </td><td>{{vm.vehicleInfo.ownerJMBG}}</td></tr>
                <tr><td>{{'VEHICLE_BRAND' | translate}}: </td><td>{{vm.vehicleInfo.mark}}</td></tr>
                <tr><td>{{'VEHICLE_YEAR' | translate}}: </td><td>{{vm.vehicleInfo.productionYear}}</td></tr>
                <tr><td>{{'VEHICLE_PLATES_NO' | translate}}: </td><td>{{vm.vehicleInfo.serialNo}}</td></tr>
                <tr><td>{{'VEHICLE_UNDERCARRIAGE_NO' | translate}}: </td><td>{{vm.vehicleInfo.chassis}}</td></tr>
            </table>
        </div>
            <div class="col-xs-6">
                <table class="table">
                    <tr>
                        <th>{{'INSURED_FROM' | translate}}</th>
                    </tr>
                </table>
                <table class="table">
                    <tr ng-show="vm.vehicleInfo.towing"><td>{{'TOWING_TO' | translate}} {{vm.vehicleInfo.kilometers}} km</td></tr>
                    <tr ng-show="vm.vehicleInfo.repair"><td>{{'REPAIR_TO' | translate}} {{vm.vehicleInfo.repairPrice}} RSD </td></tr>
                    <tr ng-show="vm.vehicleInfo.hotel"><td>{{'HOTEL_TO' | translate}} {{vm.vehicleInfo.hotelDays}} {{'DAYS' | translate}} </td></tr>
                    <tr ng-show="vm.vehicleInfo.alternativeTrasnportation"><td>{{'ALT_TRANSPORT' | translate}} </td></tr>
                </table>
                <p class="text-right">{{'TOTAL_PRICE' | translate}}: <label>{{vm.packageVehicle}}</label></p>
            </div>
        </div>
    </div>
    <p class="text-right">{{'TOTAL_PRICE_POLICY' | translate}}: <label>{{vm.finalPriceWithPotencialDiscount}}</label></p>
</div>