<div class="container body-content" style="background: url('/images/bckg.png');
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
           "  ng-controller="MainCtrl as vm" layout="row">

    <md-content flex="nogrow" style="width: 100%; height:98%;  margin-left:5vw; margin-right:5vw"  name="page1">
        <div>
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>{{ 'INSURANCE' | translate }}</span>
                        </h2>
                    </div>
                </md-toolbar>

                <md-stepper-card-content class="md-no-padding">
                    <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep"
                        md-busy-text="'Processing...'" md-busy="vm.showBusyText">

                        <md-step label="{{'CHOOSE' | translate }}">
                            <md-step-body>
                                <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep(1,false)" ng-click="savePolicy()" novalidate>

                                    <md-content style="height:73%" class="modified-input">
                                        <div>
                                            <div layout="row">
                                                <md-input-container class="md-block" style=" width:250px">
                                                    <label class="label-without-icon"">{{ 'TYPEOFTRAVEL' | translate }}</label>
                                                    <md-select ng-model="vm.polisy.travelType" required>
                                                        <md-option value="porodicno">
                                                            {{ 'FAMILY' | translate }}
                                                        </md-option>
                                                        <md-option value="pojedinacno">
                                                            {{ 'SELF' | translate }}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <div ng-show="vm.polisy.travelType=='porodicno'"  layout="row">
                                                    <md-input-container class="md-block">
                                                        <md-icon md-svg-src="images/adults.svg"></md-icon>
                                                        <input type="number" ng-model="vm.polisy.noAdults" min=1 placeholder="{{ 'ADULT' | translate }}">
                                                    </md-input-container>
                                                    <md-input-container class="md-block">
                                                        <md-icon md-svg-src="images/girl.svg"></md-icon>
                                                        <input type="number" ng-model="vm.polisy.noChildren" min=0 placeholder="{{ 'KIDS' | translate }}">
                                                    </md-input-container>
                                                
                                                </div>

                                            </div>
                                            <div layout="row">
                                                <md-input-container class="md-block" style="width:250px">
                                                    <label class="label-without-icon"">{{ 'PURPOSE' | translate }}</label>
                                                    <md-select ng-model="vm.polisy.riskType" required>
                                                        <md-option value="turisticki">
                                                            {{ 'TOURIST' | translate }}
                                                        </md-option>
                                                        <md-option value="sport">
                                                            {{ 'SPORT' | translate }}
                                                        </md-option>
                                                        <md-option value="poslovno">
                                                            {{ 'BUSINESS' | translate }}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <div ng-show="vm.polisy.riskType=='sport'">
                                                    <md-input-container class="md-block" style="width:250px">
                                                        <label class="label-without-icon"">{{ 'SPORT_TYPE' | translate }}</label>
                                                        <md-select ng-model="vm.polisy.sport">
                                                            <md-option value="Skijanje">Skijanje</md-option>
                                                            <md-option value="Jedrenje">Jedrenje</md-option>
                                                            <md-option value="Planinarenje">Planinarenje</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                            <div layout="column">
                                                <md-input-container class="md-block" style="width:250px">
                                                    <label class="label-without-icon">{{ 'STATE' | translate }}</label>
                                                    <md-select ng-model="vm.polisy.destination" required>
                                                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                            Engleska
                                                        </md-option>
                                                        <md-option value="Srbija">
                                                            Srbija
                                                        </md-option>
                                                        <md-option value="Bosna">
                                                            Bosna i Hercegovina
                                                        </md-option>
                                                        <md-option value="Engleska">
                                                            Engleska
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <div layout-gt-xs="row">
                                                    <md-input-container style="padding-left:35px!important">
                                                        <md-datepicker ng-model="vm.polisy.date" md-placeholder="{{'DATE' | translate}}" required md-min-date="minDate"></md-datepicker>
                                                    </md-input-container>

                                                    <md-input-container>
                                                        <label class="label-without-icon">{{ 'DAYS' | translate }}</label>
                                                        <input type="number" ng-model="vm.polisy.noDays" min=1>
                                                    </md-input-container>

                                                </div>

                                            </div>
                                            
                                        </div>
                                    </md-content>

                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">{{ 'CANCEL' | translate }}</md-button>
                                            <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>

                        <md-step label="{{ 'INFO' | translate }}">
                            <md-step-body>
                                <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep(2,false)" novalidate ng-cloak>
                                    <md-content layout-gt-sm="row" layout-padding style="height:72%" >
                                        <div layout="row">
                                            <div style="width:25vw; padding-left:30px">
                                                <md-list ng-cloak style="padding-top:0px">
                                                    <md-subheader class="md-no-sticky">{{'USERS_INSURANCE' | translate}}</md-subheader>
                                                    <md-list-item ng-repeat="user in vm.listaKorisnika track by $index">
                                                        <p>{{ user.name }} {{user.surname}}</p>
                                                        <md-icon md-svg-icon="images/icons/pencil.svg" ng-click="editUser($index)" aria-label="Edit user info" class="md-secondary md-hue-3"></md-icon>
                                                    </md-list-item>
                                                </md-list>
                                            </div>
                                            <div layout="column" ng-cloak class="md-inline-form" style="width:50vw">
                                                <!--   <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding> -->
                                                <!-- dodati ikonicu za nosioca osiguranja-->
                                                <div>
                                                    <div layout="row">
                                                        <md-input-container class="md-block" style="padding-right:3px">
                                                            <md-icon md-svg-src="images/icons/person-info.svg"></md-icon>
                                                            <label>{{ 'NAME' | translate }}</label>
                                                            <input type="text" ng-model="vm.currentUser.name" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label class="label-without-icon">{{ 'SURNAME' | translate }}</label>
                                                            <input type="text" ng-model="vm.currentUser.surname" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" required />
                                                        </md-input-container>
                                                    </div>
                                                    <md-input-container class="birthdate-picker" style="margin-top:0px; margin-bottom:0px; padding-left:35px">
                                                        <md-icon md-svg-src="images/icons/calendar.svg"></md-icon>
                                                        <md-datepicker ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-model="vm.currentUser.myDate" md-placeholder="{{'DATEBIRTH' | translate}}" required md-max-date="maxDateBirth"></md-datepicker>
                                                    </md-input-container>

                                                    <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                                        <md-icon md-svg-src="images/icons/passport.svg"></md-icon>
                                                        <label>{{ 'PASSPORT' | translate }}</label>
                                                        <input type="text" ng-model="vm.currentUser.passport" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                                        <!-- uradti validaciju jmbg-a -->
                                                        <md-icon md-svg-src="images/icons/jmbg.svg"></md-icon>
                                                        <label>JMBG</label>
                                                        <input type="number" ng-model="vm.currentUser.jmbg" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                                        <md-icon md-svg-src="images/icons/sex.svg"></md-icon>
                                                        <label>{{ 'SEX' | translate }}</label>
                                                        <md-select ng-model="vm.currentUser.sex" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex">
                                                            <md-option value="musko">{{ 'MALE' | translate }}</md-option>
                                                            <md-option value="zensko">{{ 'FEMALE' | translate }}</md-option>
                                                            <md-option value="other">{{ 'OTHER' | translate }}</md-option>
                                                        </md-select>
                                                    </md-input-container>

                                                    <md-input-container class="md-block" flex-gt-sm ng-show="vm.currentUserIndex==0" style="padding-right:3px; margin-bottom:10px">
                                                        <md-icon md-svg-src="images/icons/email.svg"></md-icon>
                                                        <label>Email</label>
                                                        <input type="email" ng-model="vm.currentUser.email" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                                                    </md-input-container>

                                                    <div flex layout="row" layout-align="start bottom">
                                                        <md-button class="md-raised" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-click="saveUser()">Save user</md-button>
                                                        <md-button class="md-raised" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-click="nextUser()">Enter next user</md-button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>

                        <md-step label="{{ 'PACKAGE' | translate }}">
                            <md-step-body>
                                <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep()" ng-cloak novalidate>
                                    <md-radio-group ng-model="vm.polisy.polisyPackage">
                                        <div row="column">
                                            <md-card>
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Standard</span>
                                                        <span class="md-subhead"><strong>Base price: </strong>{{vm.package1}}9 RSD</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    {{ 'PACKAGE1' | translate }}
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">

                                                    <md-radio-button value="{{vm.package1}}1">Select this package for {{vm.package1}}8 RSD</md-radio-button>


                                                </md-card-actions>
                                            </md-card>
                                            <md-card>
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Comfort</span>
                                                        <span class="md-subhead"><strong>Base price: </strong>{{vm.package2}}7 RSD</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    {{ 'PACKAGE2' | translate }}
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">
                                                   <md-radio-button value="{{vm.package2}}2">Select this package for {{vm.package2}} RSD</md-radio-button>
                                                </md-card-actions>
                                            </md-card>
                                            <md-card>
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Exclusive</span>
                                                        <span class="md-subhead"><strong>Base price: </strong>{{vm.package3}} 9RSD</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    {{ 'PACKAGE3' | translate }}
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">
                                                    <md-radio-button value="{{vm.package3}}3">Select this package for {{vm.package3}}9 RSD </md-radio-button>
                                                </md-card-actions>
                                            </md-card>
                                        </div>
                                                
                                        <md-step-actions layout="row">
                                            <div flex layout="row" layout-align="end top">
                                                <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                                <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                            </div>
                                        </md-step-actions>
                                    </md-radio-group>
                                </form>
                            </md-step-body>
                        </md-step>

                        <md-step label="{{ 'ADDITIONAL_OPTIONS' | translate }}" md-complete="vm.stepData[vm.stepNo+1].data.completed" ng-disabled="vm.stepProgress < 4">
                            <md-step-body>
                                <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep()">
                                    <md-content class="md-padding">
                                       
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{'OFFER' | translate}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            
                                        </md-card>
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{'HOME_INSURANCE' | translate}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                               <p>Opis Opis Opis</p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-radio-group class="homeInsuranceRadio" ng-model="vm.homeInsuranceRadio">
                                                    <md-radio-button value="true">{{'HOME_INSURANCE_WANT' | translate}}</md-radio-button>
                                                    <md-radio-button value="false">{{'NOT_INTERESTED' | translate}}</md-radio-button>
                                                </md-radio-group>
                                            </md-card-actions>
                                        </md-card>
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{'VEHICLE_INSURANCE' | translate}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>Opis Opis Opis</p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">
                                                <md-radio-group class="vehicleInsuranceRadio" ng-model="vm.vehicleInsuranceRadio">
                                                    <md-radio-button value="true">{{'VEHICLE_INSURANCE_WANT' | translate}}</md-radio-button>
                                                    <md-radio-button value="false">{{'NOT_INTERESTED' | translate}}</md-radio-button>
                                                </md-radio-group>
                                            </md-card-actions>
                                        </md-card>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                                
                            </md-step-body>
                        </md-step>
                        
                        <md-step label="{{ 'HOME_INSURANCE_INFO' | translate }}" ng-if="vm.homeInsuranceRadio == 'true'">
                            <md-step-body>
                              
                                <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep(); sendHomeInfo()" novalidate ng-cloak>
                                    <md-content layout-gt-sm="row" layout-wrap layout-padding style="height:72%">
                                        <div layout="row">
                                            <div layout="column" style="width:30vw">
                                                <fieldset class="standard">
                                                    <legend>{{'TYPE_OF_HOME_INSURANCE'  | translate}}</legend>
                                                    <div layout-wrap="" layout-gt-sm="column" style="align-items:flex-start;">
                                                        <md-input-container>
                                                            <md-checkbox ng-model="vm.homeInfo.flood" aria-label="Flood">
                                                                {{'FLOOD' | translate}}
                                                                <img src="images/flood.svg" style="width:24px; height:auto" alt="Flood" name="Flood" />
                                                            </md-checkbox>
                                                            
                                                        </md-input-container>
                                                        <md-input-container>
                                                            <md-checkbox ng-model="vm.homeInfo.fire" aria-label="Fire" >
                                                                {{'FIRE' | translate}}
                                                                <img src="images/fire.svg" style="width:24px; height:auto" alt="Fire" name="Fire" />
                                                            </md-checkbox>
                                                        </md-input-container>
                                                        <md-input-container>
                                                            <md-checkbox ng-model="vm.homeInfo.robbery" aria-label="Robbery">
                                                                {{'ROBERRY' | translate}}
                                                                <img src="images/roberry.svg" style="width:24px; height:auto" alt="Robbery" name="Robbery" />
                                                            </md-checkbox>
                                                        </md-input-container>

                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legend>
                                                        {{'OWNER_INFO' | translate}}
                                                    </legend>

                                                    <div layout="column" style="align-items:flex-start">
                                                        <md-input-container class="md-block" flex-gt-lg style="width:100%">
                                                            <label>{{ 'HOME_OWNER' | translate }}</label>
                                                            <input type="text" ng-model="vm.homeInfo.owner" required />
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-lg style="width:100%">
                                                            <label>{{ 'JMBG_HOME_OWNER' | translate }}</label>
                                                            <input type="text" ng-model="vm.homeInfo.ownerJMBG" required />
                                                        </md-input-container>
                                                    </div>

                                                </fieldset>
                                            </div>
                                         
                                            <div layout="column" ng-cloak class="md-inline-form" style="width:50vw; align-items:center">
                                             
                                                <img src="images/house.svg" style="width:64px; height:auto; align-self:center" />
                                                <div layout="column" style="align-items:center">
                                                    <md-input-container class="md-block" style="padding-right:3px">
                                                        <label>{{ 'ADDRESS' | translate }}</label>
                                                        <input type="text" ng-model="vm.homeInfo.address" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>{{ 'FLAT_SIZE' | translate }}</label>
                                                        <input type="number" ng-model="vm.homeInfo.flatSize" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>{{ 'BUILD_YEAR' | translate }}</label>
                                                        <input type="text" ng-model="vm.homeInfo.buildYear" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label>{{ 'ESTIMATED_VALUE' | translate }}</label>
                                                        <input type="number" ng-model="vm.homeInfo.estimatedValue" required />
                                                    </md-input-container>
                                                </div>
                                                  
                                                <fieldset layout="column" style="align-items:center; width:50%">
                                                    <legend>
                                                        {{'CURR_ADD_INS_PRICE' | translate}}
                                                    </legend>
                                                    <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="height:10%">
                                                        <span>Current insurance price 1000RSD</span>
                                                    </md-whiteframe>
                                                </fieldset>
                                                   
                                            </div>



                                             </div>

                                    </md-content>

                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>


                                </form>
                            </md-step-body>
                        </md-step>


                        <md-step label="{{ 'VEHICLE_INSURANCE_INFO' | translate }}" ng-if="vm.vehicleInsuranceRadio == 'true'">
                            <md-step-body>

                                <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep(); sendVehicleInfo()" novalidate ng-cloak>
                                    <md-content  layout-gt-sm="row" layout-padding style="height:72%">
                                        <div layout="row">
                                            <div layout="column" ng-cloak width="50vw">
                                                <fieldset class="standard">
                                                    <legend>{{'VEHICLE_CHOOSE' | translate}}</legend>
                                                    <div layout-wrap="" layout-gt-sm="row" style="align-items:stretch">
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.towing" aria-label="Slepovanje">Slepovanje</md-checkbox>
                                                            <md-input-container class="md-block" flex-gt-sm ng-if="vm.vehicleInfo.towing">
                                                                <label class="label-without-icon">Slepovanje do:</label>
                                                                <input type="number" ng-model="vm.vehicleInfo.kilometers" />
                                                            </md-input-container>
                                                        </div>
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.repair" aria-label="Repair" > Popravka </md-checkbox>
                                                            <md-input-container class="md-block" flex-gt-sm ng-if="vm.vehicleInfo.repair">
                                                                <label class="label-without-icon"> do:</label>
                                                                <input type="number" ng-model="vm.vehicleInfo.repairPrice" />
                                                            </md-input-container>
                                                        </div>
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.hotel" aria-label="Hotel" > Smestaj u hotelu </md-checkbox>
                                                            <md-input-container class="md-block" flex-gt-sm ng-if="vm.vehicleInfo.hotel">
                                                                <label class="label-without-icon"> do:</label>
                                                                <input type="number" ng-model="vm.vehicleInfo.hotelDays" />
                                                            </md-input-container>
                                                        </div>
                                                        <div>


                                                            <md-checkbox ng-model="vm.vehicleInfo.alternativeTransportation" aria-label="Alternative transporattion">
                                                                Alternativni prevoz
                                                            </md-checkbox>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </div>
                                            <div layout="column" ng-cloak class="md-inline-form" style="width:30vw">
                                                <div>
                                                    <md-input-container class="md-block" style="padding-right:3px">
                                                        <label class="label-without-icon">{{ 'VEHICLE_BRAND' | translate }}</label>
                                                        <input type="text" ng-model="vm.vehicleInfo.mark" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label class="label-without-icon">{{'VEHICLE_YEAR' | translate}}</label>
                                                        <input type="text" ng-model="vm.vehicleInfo.productionYear" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label class="label-without-icon">{{'VEHICLE_PLATES_NO' | translate}}</label>
                                                        <input type="number" ng-model="vm.vehicleInfo.serialNo" required />
                                                    </md-input-container>

                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label class="label-without-icon">{{'VEHICLE_UNDERCARRIAGE_NO' | translate}}</label>
                                                        <input type="number" ng-model="vm.vehicleInfo.chassis" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label class="label-without-icon">{{ 'HOME_OWNER' | translate }}</label>
                                                        <input type="text" ng-model="vm.vehicleInfo.owner" required />
                                                    </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <label class="label-without-icon">{{ 'JMBG_HOME_OWNER' | translate }}</label>
                                                        <input type="text" ng-model="vm.vehicleInfo.ownerJMBG" required />
                                                    </md-input-container>

                                                 
                                                </div>
                                                </div>
                                            </div>

                                    </md-content>

                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>


                                </form>
                            </md-step-body>
                        </md-step>


                        <md-step label="{{ 'PAYMENT' | translate }}" md-complete="vm.stepData[vm.stepNo+1].data.completed" ng-disabled="vm.stepProgress < 4">
                            <md-step-body>
                                <form name="vm.stepNoNext()">
                                    <md-content class="md-padding">
                                        <!--<policy-review-directive></policy-review-directive>-->
                                        <div class="paypal-button"></div>
                                        <pay-pal-directive></pay-pal-directive>
                                    </md-content>


                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button ng-mouseenter="sendAllPackagesPriceInfo()" >{{ 'FINISH' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                    </md-steppers>
                </md-stepper-card-content>
            </md-card>
            </div>
    </md-content>
    </div>