<div class="container body-content" style="background: url('/images/bckg.png');
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
           " ng-controller="MainCtrl as vm" layout="row">

    <md-content flex="nogrow" style="width: 100%; height:98%;  margin-left:5vw; margin-right:5vw" name="page1">
        <div>
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>{{ 'INSURANCE' | translate }}</span>
                        </h2>
                    </div>
                </md-toolbar>

                <!-- chooseInsurance step -->
                <md-stepper-card-content class="md-no-padding">
                    <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep"
                                 md-busy-text="'Processing...'" md-busy="vm.showBusyText">

                        <md-step label="{{'CHOOSE' | translate }}">
                            <md-step-body>
                                <form name="chooseInsuranceForm" ng-submit="vm.submitCurrentStep(1,true)" ng-click="savePolicy()" novalidate>
                                    <md-content style="height:73%" class="modified-input">
                                        <div>
                                            <div layout="row">
                                                <md-input-container class="md-block" style=" width:250px">
                                                    <label class="label-without-icon">{{ 'TYPEOFTRAVEL' | translate }}</label>
                                                    <md-select name="travelType" ng-model="vm.polisy.travelType" required>
                                                        <md-option value="{{ 'FAMILY' | translate }}">
                                                            {{ 'FAMILY' | translate }}
                                                        </md-option>
                                                        <md-option value="{{ 'SELF' | translate }}">
                                                            {{ 'SELF' | translate }}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="chooseInsuranceForm.travelType.$error">
                                                        <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                    </div>
                                                </md-input-container>
                                                <div ng-show="vm.polisy.travelType=='{{ 'FAMILY' | translate }}'" layout="row">
                                                    <md-input-container class="md-block">
                                                        <md-icon md-svg-src="images/adults.svg"></md-icon>
                                                        <input type="number" ng-model="vm.polisy.noAdults" min=1 placeholder="{{ 'ADULT' | translate }}">
                                                    </md-input-container>
                                                    <md-input-container class="md-block">
                                                        <md-icon md-svg-src="images/girl.svg"></md-icon>
                                                        <input type="number" ng-model="vm.polisy.noChildren" min=0 placeholder="{{ 'KIDS' | translate }}">
                                                    </md-input-container>

                                                </div>
                                            </div>
                                            <div layout="row">
                                                <md-input-container class="md-block" style="width:250px">
                                                    <label class="label-without-icon" ">{{ 'PURPOSE' | translate }}</label>
                                                    <md-select name="riskType" ng-model="vm.polisy.riskType" required>
                                                        <md-option value="{{purpose.tpNameEn}}" ng-repeat="purpose in vm.travelPurpose">
                                                            {{purpose.tpNameEn}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="chooseInsuranceForm.riskType.$error">
                                                        <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                    </div>
                                                </md-input-container>
                                                <div ng-show="vm.polisy.riskType=='Active vocation'">
                                                    <md-input-container class="md-block" style="width:250px">
                                                        <label class="label-without-icon" ">{{ 'SPORT_TYPE' | translate }}</label>
                                                        <md-select ng-model="vm.polisy.sport" >
                                                            <md-option value="{{sport.snameEn}}" ng-repeat="sport in vm.sport">
                                                                {{sport.snameEn}}
                                                            </md-option>                                                         
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div layout="column">
                                                <md-input-container class="md-block" style="width:250px">
                                                    <label class="label-without-icon">{{ 'STATE' | translate }}</label>
                                                    <md-select name="destination" ng-model="vm.polisy.destination"  required>
                                                        <md-option  value="{{state.stNameEn}}" ng-repeat="state in vm.states">
                                                            {{state.stNameEn}}
                                                        </md-option>                                     
                                                    </md-select>
                                                    <div ng-messages="chooseInsuranceForm.destination.$error">
                                                        <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                    </div>
                                                </md-input-container>
                                                <div layout-gt-xs="row">
                                                    <md-input-container style="padding-left:35px!important">
                                                        <md-datepicker name="datePicker" ng-model="vm.polisy.date" md-placeholder="{{'DATE' | translate}}" required md-min-date="minDate"></md-datepicker>

                                                        <div ng-messages="chooseInsuranceForm.datePicker.$error">
                                                            <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                        </div>
                                                    </md-input-container>


                                                    <md-input-container style="padding-left:35px!important">
                                                        <md-datepicker name="datePickerEnd" ng-model="vm.polisy.endDate" md-placeholder="{{'DATE_END' | translate}}" required md-min-date="vm.polisy.date"></md-datepicker>

                                                        <div ng-messages="chooseInsuranceForm.datePickerEnd.$error">
                                                            <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn">{{ 'CANCEL' | translate }}</md-button>
                                            <md-button type="submit" ng-disabled="chooseInsuranceForm.$invalid" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>

                        <!-- userInfo step -->
                        <md-step label="{{ 'INFO' | translate }}">
                            <md-step-body>
                                <form name="userInfoForm" ng-submit="vm.submitCurrentStep(2,true)" novalidate ng-cloak>
                                    <md-content layout-gt-sm="row" layout-padding style="height:73%" >

                                        <div layout="row">
                                            <div style="width:25vw; padding-left:30px">
                                                <md-list ng-cloak style="padding-top:0px">
                                                    <md-subheader class="md-no-sticky">{{'USERS_INSURANCE' | translate}}</md-subheader>
                                                    <md-list-item ng-repeat="user in vm.listaKorisnika track by $index">
                                                        <p>{{ user.name }} {{user.surname}} <sup>{{user.ageType}}</sup></p>
                                                        <md-icon md-svg-icon="images/icons/pencil.svg" ng-click="editUser($index)" aria-label="Edit user info" class="md-secondary md-hue-3"></md-icon>
                                                    </md-list-item>
                                                </md-list>
                                            </div>
                                            <div layout="column" ng-cloak class="md-inline-form" style="width:50vw;  max-width:800px;">
                                                <div>
                                                    <div layout="row">
                                                        <md-input-container class="md-block" style="padding-right:3px">
                                                            <md-icon md-svg-src="images/icons/person-info.svg"></md-icon>
                                                            <label>{{ 'NAME' | translate }}</label>
                                                            <input name="name" type="text" ng-model="vm.currentUser.name" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                                                            <div ng-messages="userInfoForm.name.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate}}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>{{ 'SURNAME' | translate }}</label>
                                                            <input name="surname" type="text" ng-model="vm.currentUser.surname" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" required />
                                                            <div ng-messages="userInfoForm.surname.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate}}</div>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                            
                                                   <birth-date-directive></birth-date-directive>
                                                   
                                                     <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                                         <md-icon md-svg-src="images/icons/sex.svg"></md-icon>
                                                         <label>{{ 'SEX' | translate }}</label>
                                                         <md-select name="sex" ng-model="vm.currentUser.sex" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex">
                                                             <md-option value="musko">{{ 'MALE' | translate }}</md-option>
                                                             <md-option value="zensko">{{ 'FEMALE' | translate }}</md-option>
                                                         </md-select>
                                                         <div ng-messages="userInfoForm.sex.$error">
                                                             <div ng-message="required">{{'REQUIRED' | translate}}</div>
                                                         </div>
                                                     </md-input-container>
                                                    <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                                        <md-icon md-svg-src="images/icons/passport.svg"></md-icon>
                                                        <label>{{ 'PASSPORT' | translate }}</label>
                                                        <input name="passport" type="text" ng-model="vm.currentUser.passport" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-maxlength="9" ng-minlength="9" maxlength="9" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                                        <div ng-messages="userInfoForm.passport.$error">
                                                            <div ng-message="required">{{'REQUIRED' | translate}}</div>
                                                            <div ng-message="ng-maxlength">{{'PASS_LENG' | translate}}</div>
                                                            <div ng-message="ng-minlength">{{'PASS_LENG' | translate}}</div>                   
                                                        </div>
                                                    </md-input-container>                                                    
                                                   <div jmbg-directive style="margin-left:32px"></div> 
                                                   <!--  <jmbg-directive formName="vm.currentUser.jmbg"></jmbg-directive> -->

                                                    <md-input-container class="md-block" flex-gt-sm ng-show="vm.currentUserIndex==0" style="padding-right:3px; margin-bottom:10px">
                                                        <md-icon md-svg-src="images/icons/email.svg"></md-icon>
                                                        <label>Email</label>
                                                        <input name="email" type="email" ng-model="vm.currentUser.email" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-pattern="/^.+@.+\..+$/" />
                                                        <div ng-messages="userInfoForm.email.$error">
                                                            <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            <div ng-message="pattern">{{'EMAIL_INVALID' | translate}}</div>
                                                        </div>
                                                    </md-input-container>

                                                    <div flex layout="row" layout-align="start bottom">
                                                        <md-button class="md-raised" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex || userInfoForm.$invalid" ng-click="saveUser()">Save user</md-button>
                                                        <md-button class="md-raised" ng-show="vm.polisy.travelType=='porodicno'" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex || userInfoForm.$invalid" ng-click="nextUser()">Enter next user</md-button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>


                        <!-- choosePackageForm -->
                        <md-step label="{{ 'PACKAGE' | translate }}">
                            <md-step-body>
                                <form name="choosePackageForm" ng-submit="vm.submitCurrentStep(3, true); vm.setUserPrice()" ng-cloak novalidate>
                                    <md-radio-group ng-model="vm.polisy.polisyPackage" ng-required="true">
                                        <div row="column">
                                            <md-card>
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Standard</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    {{ 'PACKAGE1' | translate }}
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">
                                                    <md-radio-button value="{{vm.package1}}" ng-click="vm.setPackage1Selected()">Select this package for {{vm.package1}} RSD</md-radio-button>
                                                </md-card-actions>
                                            </md-card>
                                            <md-card>
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Comfort</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    {{ 'PACKAGE2' | translate }}
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">
                                                    <md-radio-button value="{{vm.package2}}" ng-click="vm.setPackage2Selected()">Select this package for {{vm.package2}} RSD</md-radio-button>
                                                </md-card-actions>
                                            </md-card>
                                            <md-card>
                                                <md-card-title>
                                                    <md-card-title-text>
                                                        <span class="md-headline">Exclusive</span>
                                                    </md-card-title-text>
                                                </md-card-title>
                                                <md-card-content>
                                                    {{ 'PACKAGE3' | translate }}
                                                </md-card-content>
                                                <md-card-actions layout="row" layout-align="end center">
                                                    <md-radio-button value="{{vm.package3}}" ng-click="vm.setPackage3Selected()">Select this package for {{vm.package3}} RSD </md-radio-button>
                                                </md-card-actions>
                                            </md-card>

                                        </div>

                                        <md-step-actions layout="row">
                                            <div flex layout="row" layout-align="end top">
                                                <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                                <md-button ng-disabled="choosePackageForm.$invalid" type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                            </div>
                                        </md-step-actions>
                                    </md-radio-group>
                                </form>
                            </md-step-body>
                        </md-step>

                        <!-- additionalOptionsForm step-->
                        <md-step label="{{ 'ADDITIONAL_OPTIONS' | translate }}" md-complete="vm.stepData[vm.stepNo+1].data.completed" ng-disabled="vm.stepProgress < 4">
                            <md-step-body>
                                <form name="additionalOptionsForm" ng-submit="vm.submitCurrentStep(4, true)">
                                    <md-content class="md-padding">

                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{'OFFER' | translate}}</span>
                                                </md-card-title-text>
                                            </md-card-title>

                                        </md-card>
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{'HOME_INSURANCE' | translate}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>{{'HOME_OFFER' | translate}}</p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">

                                                <md-radio-group class="homeInsuranceRadio" ng-model="vm.homeInsuranceRadio" ng-required="true">
                                                    <md-radio-button value="true" >{{'INTERESTED' | translate}}</md-radio-button>
                                                    <md-radio-button value="false">{{'NOT_INTERESTED' | translate}}</md-radio-button>
                                                </md-radio-group>
                                            </md-card-actions>
                                        </md-card>
                                        <md-card>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{'VEHICLE_INSURANCE' | translate}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                            <md-card-content>
                                                <p>{{'VEHICLE_OFFER' | translate}}</p>
                                            </md-card-content>
                                            <md-card-actions layout="row" layout-align="end center">

                                                <md-radio-group class="vehicleInsuranceRadio" ng-model="vm.vehicleInsuranceRadio" ng-required="true">
                                                    <md-radio-button value="true" >{{'INTERESTED' | translate}}</md-radio-button>
                                                    <md-radio-button value="false">{{'NOT_INTERESTED' | translate}}</md-radio-button>
                                                </md-radio-group>
                                            </md-card-actions>
                                        </md-card>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button ng-disabled="additionalOptionsForm.$invalid" type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>

                            </md-step-body>
                        </md-step>

                        <!-- homeInsuranceInfo step -->
                        <md-step label="{{ 'HOME_INSURANCE_INFO' | translate }}" ng-if="vm.homeInsuranceRadio == 'true'">
                            <md-step-body>                             
                                <form name="homeInsuranceInfoForm" ng-submit="vm.submitCurrentStep(5, true)" novalidate ng-cloak>
                                    <md-content layout-gt-sm="row" layout-wrap layout-padding style="height:73%">
                                        <div layout="row">
                                            <div layout="column" style="width:30vw">
                                                <fieldset class="standard">
                                                    <legend>{{'TYPE_OF_HOME_INSURANCE'  | translate}}</legend>
                                                    <div layout-wrap="" layout-gt-sm="column" style="align-items:flex-start;">
                                                        <md-input-container>
                                                            <md-checkbox ng-model="vm.homeInfo.flood" aria-label="Flood" ng-change="vm.sendHomeInfo()">
                                                                <img src="images/icons/house-flood.svg" style="width:36px; height:auto" alt="Flood" name="Flood" />
                                                                <span>{{'FLOOD' | translate}}</span>
                                                            </md-checkbox>
                                                        </md-input-container>
                                                        <md-input-container>
                                                            <md-checkbox ng-model="vm.homeInfo.fire" aria-label="Fire" ng-change="vm.sendHomeInfo()">
                                                                <img src="images/icons/house-fire.svg" style="width:36px; height:auto" alt="Fire" name="Fire" />
                                                                <span> {{'FIRE' | translate}}</span>
                                                            </md-checkbox>
                                                        </md-input-container>
                                                        <md-input-container>
                                                            <md-checkbox ng-model="vm.homeInfo.robbery" aria-label="Robbery" ng-change="vm.sendHomeInfo()">
                                                                <img src="images/icons/house-roberry.svg" style="width:36px; height:auto" alt="Robbery" name="Robbery" />
                                                                <span> {{'ROBERRY' | translate}}</span>
                                                            </md-checkbox>
                                                        </md-input-container>

                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legend>
                                                        {{'OWNER_INFO' | translate}}
                                                    </legend>

                                                    <div layout="column" style="align-items:flex-start">
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'HOME_OWNER' | translate }}</label>
                                                            <input name="homeOwner" type="text" ng-model="vm.homeInfo.owner" required />
                                                            <div ng-messages="homeInsuranceInfoForm.homeOwner.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'JMBG_HOME_OWNER' | translate }}</label>
                                                            <input name="jmbg" type="text" ng-model="vm.homeInfo.ownerJMBG" required jmbg-validation-directive maxlength="13" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                                            <div ng-messages="homeInsuranceInfoForm.jmbg.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate}}</div>
                                                                <div ng-message="invalidJmbg">{{'JMBG_INVALID' | translate}}</div>
                                                            </div>
                                                        </md-input-container>
                                                    </div>

                                                </fieldset>
                                            </div>
                                            <div layout="column" ng-cloak class="md-inline-form" style="width:50vw; max-width:800px; align-items:center">
                                                <img src="images/house.svg" style="width:64px; height:auto; align-self:center" />
                                                <fieldset style="width:50%">
                                                    <div layout-wrap="" layout-gt-sm="column">
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'ADDRESS' | translate }}</label>
                                                            <input name="address" type="text" ng-model="vm.homeInfo.address" required />
                                                            <div ng-messages="homeInsuranceInfoForm.address.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'FLAT_SIZE' | translate }}  [m<sup>2</sup>]</label>
                                                            <input name="flatSize" type="number" min="0" ng-model="vm.homeInfo.flatSize" ng-change="sendHomeInfo()" required />
                                                            <div ng-messages="homeInsuranceInfoForm.flatSize.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'BUILD_YEAR' | translate }}</label>
                                                            <md-datepicker name="buildYear" ng-model="vm.buildYear" md-placeholder="{{'DATE' | translate}}" ng-change="sendHomeInfo()" required></md-datepicker>
                                                            <div ng-messages="homeInsuranceInfoForm.buildYear.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'ESTIMATED_VALUE' | translate }} [RSD]</label>
                                                            <input name="estimatedValue" type="number" min="0" ng-model="vm.homeInfo.estimatedValue" ng-change="sendHomeInfo()" required />
                                                            <div ng-messages="homeInsuranceInfoForm.estimatedValue.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                         </md-input-container>
                                                    </div>
                                                </fieldset>
                                                                                      
                                                
                                                <fieldset layout="column" style="align-items:center; width:50%">
                                                    <legend>
                                                        {{'CURR_ADD_INS_PRICE' | translate}}
                                                    </legend>
                                                    <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="height:10% !important">
                                                        <span>Current insurance price {{vm.packageHome}}</span>
                                                    </md-whiteframe>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button ng-disabled="homeInsuranceInfoForm.$invalid" type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>

                        <!-- vehicleInsuranceInfo step -->
                        <md-step label="{{ 'VEHICLE_INSURANCE_INFO' | translate }}" ng-if="vm.vehicleInsuranceRadio == 'true'">
                            <md-step-body>
                                <form name="vehicleInsuranceInfoForm" ng-submit="vm.submitCurrentStep(6, true)" novalidate ng-cloak>
                                    <md-content layout-gt-sm="row" layout-wrap layout-padding style="height:73%">
                                        <div layout="row">
                                            <div layout="column" style="width:30vw">
                                                <fieldset class="standard">
                                                    <legend>{{'VEHICLE_CHOOSE'  | translate}}</legend>
                                                    <div layout-wrap="" layout-gt-sm="column" style="align-items:flex-start;">
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.towing" aria-label="{{'TOWING' | translate}}">
                                                                <img src="images/icons/car-towed.svg" style="width:36px; align-self:flex-start; height:auto" alt="Towing" name="Towing" />
                                                                <span>{{'TOWING' | translate}}</span>
                                                            </md-checkbox>

                                                            <md-input-container class="md-block" flex-gt-sm ng-if="vm.vehicleInfo.towing">
                                                                <label>Towing up to:</label> <!-- km -->
                                                                <input type="number" min='0' ng-model="vm.vehicleInfo.kilometers" ng-change="sendVehicleInfo()" />
                                                            </md-input-container>
                                                        </div>
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.repair" aria-label="{{'REPAIR'| translate}}">
                                                                <img src="images/icons/car-repair.svg" style="width:36px; align-self:flex-start; height:auto" alt="Repair" name="Repair" />
                                                                <span>{{'REPAIR' | translate}}</span>
                                                            </md-checkbox>
                                                            <md-input-container class="md-block" flex-gt-sm ng-if="vm.vehicleInfo.repair">
                                                                <label> Repair up to:</label> <!-- Price -->
                                                                <input type="number" min="0" ng-model="vm.vehicleInfo.repairPrice" ng-change="sendVehicleInfo()" />
                                                            </md-input-container>
                                                        </div>
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.hotel" aria-label="{{'ACCOMODATION' | translate}}">
                                                                <img src="images/icons/hotel-accomodation.svg" style="width:36px; height:auto" alt="Repair" name="Repair" />
                                                                <span>{{'ACCOMODATION' | translate}}</span>
                                                            </md-checkbox>
                                                            <md-input-container class="md-block" flex-gt-sm ng-if="vm.vehicleInfo.hotel">
                                                                <label> Accomodation up to:</label>
                                                                <input type="number" min="0" ng-model="vm.vehicleInfo.hotelDays" ng-change="sendVehicleInfo()" /> <!-- days -->
                                                            </md-input-container>
                                                        </div>
                                                        <div>
                                                            <md-checkbox ng-model="vm.vehicleInfo.alternativeTrasnportation" ng-change="sendVehicleInfo()" aria-label="{{'ALT_TRASNPORT' | translate}}">
                                                                <img src="images/icons/alt-transport.svg" style="width:36px; height:auto" alt="Alt transport" name="Alt transport" />
                                                                <span> {{'ALT_TRANSPORT' | translate}}</span>
                                                            </md-checkbox>

                                                        </div>

                                                    </div>
                                                </fieldset>

                                                <fieldset>
                                                    <legend>
                                                        {{'OWNER_INFO' | translate}}
                                                    </legend>

                                                    <div layout="column" style="align-items:flex-start">
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'HOME_OWNER' | translate }}</label>
                                                            <input name="ownerName" type="text" ng-model="vm.vehicleInfo.owner" required />
                                                            <div ng-messages="vehicleInsuranceInfoForm.ownerName.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm style="width:100%">
                                                            <label>{{ 'JMBG_HOME_OWNER' | translate }}</label>
                                                            <input name="jmbg" type="text" ng-model="vm.vehicleInfo.ownerJMBG" required jmbg-validation-directive maxlength="13" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                                            <div ng-messages="vehicleInsuranceInfoForm.jmbg.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate}}</div>
                                                                <div ng-message="invalidJmbg">{{'JMBG_INVALID' | translate}}</div>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div layout="column" ng-cloak class="md-inline-form" style="width:50vw; max-width:800px; align-items:center">
                                                <img src="images/icons/car-main.svg" style="width:64px; height:auto; align-self:center" />
                                                <fieldset style="width:50%">
                                                    <div layout-wrap="" layout-gt-sm="column">
                                                        <md-input-container class="md-block" style="padding-right:3px">
                                                            <label>{{ 'VEHICLE_BRAND' | translate }}</label>
                                                            <input name="vehicleBrand" type="text" ng-model="vm.vehicleInfo.mark" required />
                                                            <div ng-messages="vehicleInsuranceInfoForm.vehicleBrand.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>{{'VEHICLE_YEAR' | translate}}</label>
                                                            <md-datepicker name="productionYear" ng-model="vm.vehicleInfo.productionYear" md-placeholder="{{'DATE' | translate}}" required></md-datepicker>  
                                                            <div ng-messages="vehicleInsuranceInfoForm.productionYear.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>{{'VEHICLE_PLATES_NO' | translate}}</label>
                                                            <input name="vehiclePlatesNo" type="number" min="0" ng-model="vm.vehicleInfo.serialNo" required />
                                                            <div ng-messages="vehicleInsuranceInfoForm.vehiclePlatesNo.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>
                                                        </md-input-container>
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>{{'VEHICLE_UNDERCARRIAGE_NO' | translate}}</label>
                                                            <input name="vehicleUndercarriageNo" type="number" min="0" ng-model="vm.vehicleInfo.chassis" required />
                                                            <div ng-messages="vehicleInsuranceInfoForm.vehicleUndercarriageNo.$error">
                                                                <div ng-message="required">{{'REQUIRED' | translate }}</div>
                                                            </div>

                                                        </md-input-container>
                                                    </div>
                                                </fieldset>
                                                <fieldset layout="column" style="align-items:center; width:50%">
                                                    <legend>
                                                        {{'CURR_ADD_INS_PRICE' | translate}}
                                                    </legend>
                                                    <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="height:10% !important">
                                                        <span>Current insurance price {{vm.packageVehicle}}</span>
                                                    </md-whiteframe>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top">
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button ng-disabled="vehicleInsuranceForm.$invalid" type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>


                        <md-step label="{{ 'PAYMENT' | translate }}" md-complete="vm.stepData[vm.stepNo+1].data.completed" ng-disabled="vm.stepProgress < 4">
                            <md-step-body>
                                <form name="vm.stepNoNext()">
                                    <md-content class="md-padding">
                                        <policy-preview-directive></policy-preview-directive>
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                                            <md-button ng-click="vm.triggerPayPal()">{{ 'FINISH' | translate }}</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                    </md-steppers>
                </md-stepper-card-content>
            </md-card>
        </div>
    </md-content>

    <!-- Modal payPal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">  
                    <h3 class="modal-title">PayPal {{'RESPONSE' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <p> {{'SUCCESSFULL_PAYMENT' | translate}} {{vm.finalPriceWithPotencialDiscount}} RSD</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="md-button" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirm-->
    <div class="modal fade" id="payPalConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{'CONFIRMATION' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <h3> {{'BILL_AMOUNT' | translate}} {{vm.finalPriceWithPotencialDiscount}} RSD, {{'DO_TRANSACTION' | translate}}...</h3>

                </div>
                <div class="modal-footer">
                    <div class="paypal-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>