

<md-step label="{{ 'INFO' | translate }}">
    <md-step-body>
        <form name="vm.stepNoNext()" ng-submit="vm.submitCurrentStep(2,false)" novalidate ng-cloak>
            <md-content layout-gt-sm="row" layout-padding style="height:73%">
                <div layout="row">
                    <div style="width:25vw; padding-left:30px">
                        <md-list ng-cloak style="padding-top:0px">
                            <md-subheader class="md-no-sticky">{{'USERS_INSURANCE' | translate}}</md-subheader>
                            <md-list-item ng-repeat="user in vm.listaKorisnika track by $index">
                                <p>{{ user.name }} {{user.surname}}</p>
                                <md-icon md-svg-icon="images/icons/pencil.svg" ng-click="editUser($index)" aria-label="Edit user info" class="md-secondary md-hue-3"></md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div layout="column" ng-cloak class="md-inline-form" style="width:50vw">
                        <!--   <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding> -->
                        <!-- dodati ikonicu za nosioca osiguranja-->
                        <div>
                            <div layout="row">
                                <md-input-container class="md-block" style="padding-right:3px">
                                    <md-icon md-svg-src="images/icons/person-info.svg"></md-icon>
                                    <label>{{ 'NAME' | translate }}</label>
                                    <input type="text" ng-model="vm.currentUser.name" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label class="label-without-icon">{{ 'SURNAME' | translate }}</label>
                                    <input type="text" ng-model="vm.currentUser.surname" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" required />
                                </md-input-container>
                            </div>
                            <md-input-container class="birthdate-picker" style="margin-top:0px; margin-bottom:0px; padding-left:35px">
                                <md-icon md-svg-src="images/icons/calendar.svg"></md-icon>
                                <md-datepicker ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-model="vm.currentUser.myDate" md-placeholder="{{'DATEBIRTH' | translate}}" required md-max-date="maxDateBirth"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                <md-icon md-svg-src="images/icons/passport.svg"></md-icon>
                                <label>{{ 'PASSPORT' | translate }}</label>
                                <input type="text" ng-model="vm.currentUser.passport" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                <!-- uradti validaciju jmbg-a -->
                                <md-icon md-svg-src="images/icons/jmbg.svg"></md-icon>
                                <label>JMBG</label>
                                <input type="number" ng-model="vm.currentUser.jmbg" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm style="padding-right:3px">
                                <md-icon md-svg-src="images/icons/sex.svg"></md-icon>
                                <label>{{ 'SEX' | translate }}</label>
                                <md-select ng-model="vm.currentUser.sex" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex">
                                    <md-option value="musko">{{ 'MALE' | translate }}</md-option>
                                    <md-option value="zensko">{{ 'FEMALE' | translate }}</md-option>
                                    <md-option value="other">{{ 'OTHER' | translate }}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm ng-show="vm.currentUserIndex==0" style="padding-right:3px; margin-bottom:10px">
                                <md-icon md-svg-src="images/icons/email.svg"></md-icon>
                                <label>Email</label>
                                <input type="email" ng-model="vm.currentUser.email" required ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" />
                            </md-input-container>

                            <div flex layout="row" layout-align="start bottom">
                                <md-button class="md-raised" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-click="saveUser()">Save user</md-button>
                                <md-button class="md-raised" ng-disabled="vm.listaKorisnika.length <= vm.currentUserIndex" ng-click="nextUser()">Enter next user</md-button>
                            </div>
                        </div>


                    </div>
                </div>

            </md-content>
            <md-step-actions layout="row">
                <div flex layout="row" layout-align="end top">
                    <md-button class="md-warn" ng-click="vm.moveToPreviousStep()">{{ 'PREVIOUS' | translate }}</md-button>
                    <md-button type="submit" class="md-primary md-raised">{{ 'NEXT' | translate }}</md-button>
                </div>
            </md-step-actions>
        </form>
    </md-step-body>
</md-step>