USE [master]
GO
/****** Object:  Database [InsuranceCompanyDb]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE DATABASE [InsuranceCompanyDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsuranceCompanyDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\InsuranceCompanyDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InsuranceCompanyDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\InsuranceCompanyDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsuranceCompanyDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsuranceCompanyDb]
GO
/****** Object:  User [govno]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE USER [govno] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[AGE_GROUP]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGE_GROUP](
	[AG_ID] [int] NOT NULL,
	[COEFF_ID] [int] NULL,
	[AG_NAME_EN] [varchar](30) NOT NULL,
	[AG_NAME_SRB] [varchar](100) NULL,
 CONSTRAINT [PK_AGE_GROUP] PRIMARY KEY CLUSTERED 
(
	[AG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAR](
	[CARID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [int] NULL,
	[YEAR] [datetime] NULL,
	[CHASSIS_NUMBER] [int] NULL,
	[LICENCE_PLATE] [varchar](20) NULL,
	[CAR_TYPE] [varchar](20) NULL,
	[CAR_MODEL] [varchar](20) NULL,
	[CAR_START_DATE] [datetime] NULL,
	[CAR_END_DATE] [datetime] NULL,
 CONSTRAINT [PK_CAR] PRIMARY KEY CLUSTERED 
(
	[CARID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENT](
	[CLIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[AG_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[FIRSTNAME] [varchar](60) NULL,
	[LASTNAME] [varchar](70) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[JMBG] [varchar](30) NULL,
	[PHONE] [varchar](80) NULL,
	[PASSPORT_NUMBER] [numeric](10, 0) NULL,
	[SEX] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COEFFICIENT]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COEFFICIENT](
	[COEFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[COEFF_VALUE] [numeric](5, 2) NULL,
	[COEFF_DATE] [datetime] NULL,
 CONSTRAINT [PK_COEFFICIENT] PRIMARY KEY CLUSTERED 
(
	[COEFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTINENT]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTINENT](
	[CONTINENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[COEFF_ID] [int] NULL,
	[CONTINENT_NAME_EN] [varchar](50) NOT NULL,
	[CONTINENT_NAME_SRB] [varchar](50) NULL,
 CONSTRAINT [PK_CONTINENT] PRIMARY KEY CLUSTERED 
(
	[CONTINENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DESTINATION]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINATION](
	[DST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ST_ID] [int] NULL,
	[DST_DAYS] [int] NOT NULL,
 CONSTRAINT [PK_DESTINATION] PRIMARY KEY CLUSTERED 
(
	[DST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOME]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOME](
	[HOME_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [int] NULL,
	[HOME_SQUARES] [int] NULL,
	[HOME_BUILDING_YEAR] [datetime] NULL,
	[HOME_ADDRESS] [varchar](30) NULL,
	[HOME_VALUE] [int] NULL,
	[HOME_START_DATE] [datetime] NULL,
	[HOME_END_DATE] [datetime] NULL,
 CONSTRAINT [PK_HOME] PRIMARY KEY CLUSTERED 
(
	[HOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INSURANCE_PACKAGE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INSURANCE_PACKAGE](
	[PACKAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PL_ITEM_ID] [int] NULL,
	[TOP_ID] [int] NULL,
	[PACKAGE_NAME_EN] [varchar](20) NULL,
	[PACKAGE_DESCRIPTION_EN] [varchar](1000) NULL,
	[PACKAGE_NAME_SRB] [varchar](20) NULL,
	[PACKAGE_DESCRIPTION_SRB] [varchar](5000) NULL,
 CONSTRAINT [PK_INSURANCE_PACKAGE] PRIMARY KEY CLUSTERED 
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITEMS_OF_PACKAGE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEMS_OF_PACKAGE](
	[IOP_ACKAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PACKAGE_ID] [int] NULL,
	[IOF_DESCRIPTION_EN] [varchar](5000) NULL,
	[IOF_DESCTIPTION_SRB] [varchar](5000) NULL,
	[IOF_NAME_EN] [varchar](50) NULL,
	[IOF_NAME_SRB] [varchar](50) NULL,
 CONSTRAINT [PK_ITEMS_OF_PACKAGE] PRIMARY KEY CLUSTERED 
(
	[IOP_ACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PDV]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PDV](
	[PDV_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PDV] [varchar](30) NULL,
 CONSTRAINT [PK_PDV] PRIMARY KEY CLUSTERED 
(
	[PDV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POLICY]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICY](
	[POLICY_ID] [int] IDENTITY(1,1) NOT NULL,
	[R_ID] [int] NULL,
	[PACKAGE_ID] [int] NULL,
	[CLIENT_ID] [int] NULL,
	[PDV_ID] [int] NULL,
	[PL_ITEM_ID] [int] NULL,
	[II_ID] [int] NULL,
	[POLICY_START_OF_INSURANCE] [datetime] NULL,
	[POLICY_DST_END_OF_INSURANCE] [datetime] NULL,
 CONSTRAINT [PK_POLICY] PRIMARY KEY CLUSTERED 
(
	[POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRICELIST]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICELIST](
	[PRICELIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRICELIST_START_DATE] [datetime] NOT NULL,
	[PRICELIST_END_DATE] [datetime] NULL,
 CONSTRAINT [PK_PRICELIST] PRIMARY KEY CLUSTERED 
(
	[PRICELIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRICELIST_ITEM]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICELIST_ITEM](
	[PL_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRICELIST_ID] [int] NOT NULL,
	[PL_PRICE] [numeric](12, 4) NULL,
 CONSTRAINT [PK_PRICELIST_ITEM] PRIMARY KEY CLUSTERED 
(
	[PL_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RATE_OF_PDV]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATE_OF_PDV](
	[PDV_RATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PDV_ID] [int] NOT NULL,
	[VALID_UNTIL] [datetime] NULL,
	[RATE] [numeric](10, 10) NULL,
 CONSTRAINT [PK_RATE_OF_PDV] PRIMARY KEY CLUSTERED 
(
	[PDV_RATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RISK]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RISK](
	[R_ID] [int] IDENTITY(1,1) NOT NULL,
	[COEFF_ID] [int] NULL,
	[R_NAME_EN] [varchar](30) NULL,
	[R_DESCRIPTION_EN] [varchar](2000) NULL,
	[R_NAME_SRB] [varchar](30) NULL,
	[R_DESCRIPTION_SRB] [varchar](2000) NULL,
 CONSTRAINT [PK_RISK] PRIMARY KEY CLUSTERED 
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RISK_OF_CAR]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RISK_OF_CAR](
	[CARID] [int] NOT NULL,
	[R_ID] [int] NOT NULL,
	[ROC_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_RISK_OF_CAR] PRIMARY KEY CLUSTERED 
(
	[ROC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RISK_OF_HOUSE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RISK_OF_HOUSE](
	[R_ID] [int] NOT NULL,
	[HOME_ID] [int] NOT NULL,
	[ROH_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_RISK_OF_HOUSE] PRIMARY KEY CLUSTERED 
(
	[ROH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATE_OF_ORIGIN]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATE_OF_ORIGIN](
	[ST_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTINENT_ID] [int] NOT NULL,
	[ST_NAME_SRB] [varchar](30) NOT NULL,
	[ST_NAME_EN] [varchar](50) NULL,
 CONSTRAINT [PK_STATE_OF_ORIGIN] PRIMARY KEY CLUSTERED 
(
	[ST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBJECT_OF_INSURANCE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT_OF_INSURANCE](
	[II_ID] [int] IDENTITY(1,1) NOT NULL,
	[DST_ID] [int] NULL,
	[TP_ID] [int] NULL,
	[HOME_ID] [int] NULL,
	[CARID] [int] NULL,
 CONSTRAINT [PK_SUBJECT_OF_INSURANCE] PRIMARY KEY CLUSTERED 
(
	[II_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE](
	[R_ID] [int] NOT NULL,
	[TP_ID] [int] NOT NULL,
	[TP_R_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TRAVEL_ACTIVITY_TRAVEL_PURP] PRIMARY KEY CLUSTERED 
(
	[TP_R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRAVEL_PURPOSE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRAVEL_PURPOSE](
	[TP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PACKAGE_ID] [int] NOT NULL,
	[TP_NAME_EN] [varchar](30) NOT NULL,
	[TP_NAME_SRB] [varchar](30) NULL,
 CONSTRAINT [PK_TRAVEL_PURPOSE] PRIMARY KEY CLUSTERED 
(
	[TP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE_OF_PACKAGE]    Script Date: 2/23/2017 10:57:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_OF_PACKAGE](
	[TOP_ID] [int] IDENTITY(1,1) NOT NULL,
	[TOP_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_TYPE_OF_PACKAGE] PRIMARY KEY CLUSTERED 
(
	[TOP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AGE_GROUP] ([AG_ID], [COEFF_ID], [AG_NAME_EN], [AG_NAME_SRB]) VALUES (1, 2, N'Adult', N'Odrastao')
INSERT [dbo].[AGE_GROUP] ([AG_ID], [COEFF_ID], [AG_NAME_EN], [AG_NAME_SRB]) VALUES (2, 3, N'Children', N'Deca')
INSERT [dbo].[AGE_GROUP] ([AG_ID], [COEFF_ID], [AG_NAME_EN], [AG_NAME_SRB]) VALUES (3, 1, N'Old', N'Stari')
SET IDENTITY_INSERT [dbo].[CAR] ON 

INSERT [dbo].[CAR] ([CARID], [CLIENT_ID], [YEAR], [CHASSIS_NUMBER], [LICENCE_PLATE], [CAR_TYPE], [CAR_MODEL], [CAR_START_DATE], [CAR_END_DATE]) VALUES (1, 2, CAST(N'2017-02-23 23:00:00.000' AS DateTime), 4566666, N'4566664', NULL, NULL, CAST(N'2017-02-23 00:00:00.000' AS DateTime), CAST(N'2017-02-25 00:00:00.000' AS DateTime))
INSERT [dbo].[CAR] ([CARID], [CLIENT_ID], [YEAR], [CHASSIS_NUMBER], [LICENCE_PLATE], [CAR_TYPE], [CAR_MODEL], [CAR_START_DATE], [CAR_END_DATE]) VALUES (2, 4, CAST(N'2017-02-23 23:00:00.000' AS DateTime), 4566666, N'4566664', NULL, NULL, CAST(N'2017-02-23 00:00:00.000' AS DateTime), CAST(N'2017-02-25 00:00:00.000' AS DateTime))
INSERT [dbo].[CAR] ([CARID], [CLIENT_ID], [YEAR], [CHASSIS_NUMBER], [LICENCE_PLATE], [CAR_TYPE], [CAR_MODEL], [CAR_START_DATE], [CAR_END_DATE]) VALUES (3, 6, CAST(N'2017-02-23 23:00:00.000' AS DateTime), 4565544, N'456664', NULL, NULL, CAST(N'2017-03-04 00:00:00.000' AS DateTime), CAST(N'2017-03-31 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CAR] OFF
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([CLIENT_ID], [AG_ID], [POLICY_ID], [FIRSTNAME], [LASTNAME], [DATE_OF_BIRTH], [JMBG], [PHONE], [PASSPORT_NUMBER], [SEX]) VALUES (1, NULL, NULL, N'Jane', N'Doe', CAST(N'1999-01-31 23:00:00.000' AS DateTime), N'1111111111111', NULL, CAST(111111111 AS Numeric(10, 0)), N'zensko')
INSERT [dbo].[CLIENT] ([CLIENT_ID], [AG_ID], [POLICY_ID], [FIRSTNAME], [LASTNAME], [DATE_OF_BIRTH], [JMBG], [PHONE], [PASSPORT_NUMBER], [SEX]) VALUES (2, NULL, NULL, N'Drago', N'Divljak', CAST(N'2011-01-01 00:00:00.000' AS DateTime), N'2222222222222', NULL, NULL, NULL)
INSERT [dbo].[CLIENT] ([CLIENT_ID], [AG_ID], [POLICY_ID], [FIRSTNAME], [LASTNAME], [DATE_OF_BIRTH], [JMBG], [PHONE], [PASSPORT_NUMBER], [SEX]) VALUES (3, NULL, NULL, N'Jane', N'Doe', CAST(N'1999-01-31 23:00:00.000' AS DateTime), N'1111111111111', NULL, CAST(111111111 AS Numeric(10, 0)), N'zensko')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
SET IDENTITY_INSERT [dbo].[COEFFICIENT] ON 

INSERT [dbo].[COEFFICIENT] ([COEFF_ID], [COEFF_VALUE], [COEFF_DATE]) VALUES (1, CAST(1.50 AS Numeric(5, 2)), NULL)
INSERT [dbo].[COEFFICIENT] ([COEFF_ID], [COEFF_VALUE], [COEFF_DATE]) VALUES (2, CAST(1.00 AS Numeric(5, 2)), NULL)
INSERT [dbo].[COEFFICIENT] ([COEFF_ID], [COEFF_VALUE], [COEFF_DATE]) VALUES (3, CAST(1.10 AS Numeric(5, 2)), NULL)
SET IDENTITY_INSERT [dbo].[COEFFICIENT] OFF
SET IDENTITY_INSERT [dbo].[CONTINENT] ON 

INSERT [dbo].[CONTINENT] ([CONTINENT_ID], [COEFF_ID], [CONTINENT_NAME_EN], [CONTINENT_NAME_SRB]) VALUES (1, 1, N'Africa', N'Afrika')
INSERT [dbo].[CONTINENT] ([CONTINENT_ID], [COEFF_ID], [CONTINENT_NAME_EN], [CONTINENT_NAME_SRB]) VALUES (2, 4, N'Asia', N'Azija')
INSERT [dbo].[CONTINENT] ([CONTINENT_ID], [COEFF_ID], [CONTINENT_NAME_EN], [CONTINENT_NAME_SRB]) VALUES (3, 3, N'America', N'Amerika')
SET IDENTITY_INSERT [dbo].[CONTINENT] OFF
SET IDENTITY_INSERT [dbo].[DESTINATION] ON 

INSERT [dbo].[DESTINATION] ([DST_ID], [ST_ID], [DST_DAYS]) VALUES (1, 1, 5)
INSERT [dbo].[DESTINATION] ([DST_ID], [ST_ID], [DST_DAYS]) VALUES (2, 1, 5)
INSERT [dbo].[DESTINATION] ([DST_ID], [ST_ID], [DST_DAYS]) VALUES (3, 1, 5)
SET IDENTITY_INSERT [dbo].[DESTINATION] OFF
SET IDENTITY_INSERT [dbo].[HOME] ON 

INSERT [dbo].[HOME] ([HOME_ID], [CLIENT_ID], [HOME_SQUARES], [HOME_BUILDING_YEAR], [HOME_ADDRESS], [HOME_VALUE], [HOME_START_DATE], [HOME_END_DATE]) VALUES (1, NULL, 55, NULL, N'suboticka', NULL, NULL, NULL)
INSERT [dbo].[HOME] ([HOME_ID], [CLIENT_ID], [HOME_SQUARES], [HOME_BUILDING_YEAR], [HOME_ADDRESS], [HOME_VALUE], [HOME_START_DATE], [HOME_END_DATE]) VALUES (2, NULL, 60, CAST(N'2017-03-14 23:00:00.000' AS DateTime), N'Katolicka porta 6', 120000, CAST(N'2017-02-23 00:00:00.000' AS DateTime), CAST(N'2017-02-25 00:00:00.000' AS DateTime))
INSERT [dbo].[HOME] ([HOME_ID], [CLIENT_ID], [HOME_SQUARES], [HOME_BUILDING_YEAR], [HOME_ADDRESS], [HOME_VALUE], [HOME_START_DATE], [HOME_END_DATE]) VALUES (3, NULL, 60, CAST(N'2017-03-14 23:00:00.000' AS DateTime), N'Katolicka porta 6', 120000, CAST(N'2017-02-23 00:00:00.000' AS DateTime), CAST(N'2017-02-25 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOME] OFF
SET IDENTITY_INSERT [dbo].[INSURANCE_PACKAGE] ON 

INSERT [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID], [PL_ITEM_ID], [TOP_ID], [PACKAGE_NAME_EN], [PACKAGE_DESCRIPTION_EN], [PACKAGE_NAME_SRB], [PACKAGE_DESCRIPTION_SRB]) VALUES (1, 1, 1, N'Basic', NULL, N'Osnovni', NULL)
INSERT [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID], [PL_ITEM_ID], [TOP_ID], [PACKAGE_NAME_EN], [PACKAGE_DESCRIPTION_EN], [PACKAGE_NAME_SRB], [PACKAGE_DESCRIPTION_SRB]) VALUES (2, 2, 1, N'Middle', NULL, N'Srednji', NULL)
INSERT [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID], [PL_ITEM_ID], [TOP_ID], [PACKAGE_NAME_EN], [PACKAGE_DESCRIPTION_EN], [PACKAGE_NAME_SRB], [PACKAGE_DESCRIPTION_SRB]) VALUES (3, 3, 1, N'Premium', NULL, N'Premium', NULL)
SET IDENTITY_INSERT [dbo].[INSURANCE_PACKAGE] OFF
SET IDENTITY_INSERT [dbo].[PDV] ON 

INSERT [dbo].[PDV] ([PDV_ID], [NAME_PDV]) VALUES (1, N'Opsti')
SET IDENTITY_INSERT [dbo].[PDV] OFF
SET IDENTITY_INSERT [dbo].[POLICY] ON 

INSERT [dbo].[POLICY] ([POLICY_ID], [R_ID], [PACKAGE_ID], [CLIENT_ID], [PDV_ID], [PL_ITEM_ID], [II_ID], [POLICY_START_OF_INSURANCE], [POLICY_DST_END_OF_INSURANCE]) VALUES (1, 1, 1, 1, 1, 1, 1, CAST(N'2017-02-23 00:00:00.000' AS DateTime), CAST(N'2017-02-25 00:00:00.000' AS DateTime))
INSERT [dbo].[POLICY] ([POLICY_ID], [R_ID], [PACKAGE_ID], [CLIENT_ID], [PDV_ID], [PL_ITEM_ID], [II_ID], [POLICY_START_OF_INSURANCE], [POLICY_DST_END_OF_INSURANCE]) VALUES (2, 1, 1, 3, 1, 4, 2, CAST(N'2017-02-23 00:00:00.000' AS DateTime), CAST(N'2017-02-25 00:00:00.000' AS DateTime))
INSERT [dbo].[POLICY] ([POLICY_ID], [R_ID], [PACKAGE_ID], [CLIENT_ID], [PDV_ID], [PL_ITEM_ID], [II_ID], [POLICY_START_OF_INSURANCE], [POLICY_DST_END_OF_INSURANCE]) VALUES (3, 1, 1, 5, 1, 5, 3, CAST(N'2017-03-04 00:00:00.000' AS DateTime), CAST(N'2017-03-31 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[POLICY] OFF
SET IDENTITY_INSERT [dbo].[PRICELIST] ON 

INSERT [dbo].[PRICELIST] ([PRICELIST_ID], [PRICELIST_START_DATE], [PRICELIST_END_DATE]) VALUES (1, CAST(N'1894-06-24 00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PRICELIST] OFF
SET IDENTITY_INSERT [dbo].[PRICELIST_ITEM] ON 

INSERT [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID], [PRICELIST_ID], [PL_PRICE]) VALUES (1, 1, CAST(100.0000 AS Numeric(12, 4)))
INSERT [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID], [PRICELIST_ID], [PL_PRICE]) VALUES (2, 1, CAST(200.0000 AS Numeric(12, 4)))
INSERT [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID], [PRICELIST_ID], [PL_PRICE]) VALUES (3, 1, CAST(350.0000 AS Numeric(12, 4)))
SET IDENTITY_INSERT [dbo].[PRICELIST_ITEM] OFF
SET IDENTITY_INSERT [dbo].[RATE_OF_PDV] ON 

INSERT [dbo].[RATE_OF_PDV] ([PDV_RATE_ID], [PDV_ID], [VALID_UNTIL], [RATE]) VALUES (1, 1, NULL, CAST(0.2000000000 AS Numeric(10, 10)))
SET IDENTITY_INSERT [dbo].[RATE_OF_PDV] OFF
SET IDENTITY_INSERT [dbo].[RISK] ON 

INSERT [dbo].[RISK] ([R_ID], [COEFF_ID], [R_NAME_EN], [R_DESCRIPTION_EN], [R_NAME_SRB], [R_DESCRIPTION_SRB]) VALUES (1, 2, N'Small area', N'', N'Mali', NULL)
INSERT [dbo].[RISK] ([R_ID], [COEFF_ID], [R_NAME_EN], [R_DESCRIPTION_EN], [R_NAME_SRB], [R_DESCRIPTION_SRB]) VALUES (2, 3, N'Middle area', N'', N'Srednji', NULL)
INSERT [dbo].[RISK] ([R_ID], [COEFF_ID], [R_NAME_EN], [R_DESCRIPTION_EN], [R_NAME_SRB], [R_DESCRIPTION_SRB]) VALUES (3, 4, N'Big area', N'', N'Veliki', NULL)
SET IDENTITY_INSERT [dbo].[RISK] OFF
SET IDENTITY_INSERT [dbo].[RISK_OF_CAR] ON 

INSERT [dbo].[RISK_OF_CAR] ([CARID], [R_ID], [ROC_ID]) VALUES (2, 15, 1)
INSERT [dbo].[RISK_OF_CAR] ([CARID], [R_ID], [ROC_ID]) VALUES (11, 16, 2)
INSERT [dbo].[RISK_OF_CAR] ([CARID], [R_ID], [ROC_ID]) VALUES (11, 17, 3)
SET IDENTITY_INSERT [dbo].[RISK_OF_CAR] OFF
SET IDENTITY_INSERT [dbo].[RISK_OF_HOUSE] ON 

INSERT [dbo].[RISK_OF_HOUSE] ([R_ID], [HOME_ID], [ROH_ID]) VALUES (13, 9, 1)
INSERT [dbo].[RISK_OF_HOUSE] ([R_ID], [HOME_ID], [ROH_ID]) VALUES (15, 16, 2)
INSERT [dbo].[RISK_OF_HOUSE] ([R_ID], [HOME_ID], [ROH_ID]) VALUES (13, 17, 3)
SET IDENTITY_INSERT [dbo].[RISK_OF_HOUSE] OFF
SET IDENTITY_INSERT [dbo].[STATE_OF_ORIGIN] ON 

INSERT [dbo].[STATE_OF_ORIGIN] ([ST_ID], [CONTINENT_ID], [ST_NAME_SRB], [ST_NAME_EN]) VALUES (1, 4, N'Srbija', N'Serbia')
INSERT [dbo].[STATE_OF_ORIGIN] ([ST_ID], [CONTINENT_ID], [ST_NAME_SRB], [ST_NAME_EN]) VALUES (2, 4, N'Hrvatska', N'Croatia')
INSERT [dbo].[STATE_OF_ORIGIN] ([ST_ID], [CONTINENT_ID], [ST_NAME_SRB], [ST_NAME_EN]) VALUES (3, 4, N'Makedonija', N'Macedonia')
SET IDENTITY_INSERT [dbo].[STATE_OF_ORIGIN] OFF
SET IDENTITY_INSERT [dbo].[SUBJECT_OF_INSURANCE] ON 

INSERT [dbo].[SUBJECT_OF_INSURANCE] ([II_ID], [DST_ID], [TP_ID], [HOME_ID], [CARID]) VALUES (1, 1, 1, 2, 1)
INSERT [dbo].[SUBJECT_OF_INSURANCE] ([II_ID], [DST_ID], [TP_ID], [HOME_ID], [CARID]) VALUES (2, 2, 1, 3, 2)
INSERT [dbo].[SUBJECT_OF_INSURANCE] ([II_ID], [DST_ID], [TP_ID], [HOME_ID], [CARID]) VALUES (3, 3, 1, 4, 3)
SET IDENTITY_INSERT [dbo].[SUBJECT_OF_INSURANCE] OFF
SET IDENTITY_INSERT [dbo].[TRAVEL_PURPOSE] ON 

INSERT [dbo].[TRAVEL_PURPOSE] ([TP_ID], [PACKAGE_ID], [TP_NAME_EN], [TP_NAME_SRB]) VALUES (1, 1, N'Business', N'Biznis')
INSERT [dbo].[TRAVEL_PURPOSE] ([TP_ID], [PACKAGE_ID], [TP_NAME_EN], [TP_NAME_SRB]) VALUES (2, 1, N'Active vacation', N'Sportska aktivnost')
SET IDENTITY_INSERT [dbo].[TRAVEL_PURPOSE] OFF
SET IDENTITY_INSERT [dbo].[TYPE_OF_PACKAGE] ON 

INSERT [dbo].[TYPE_OF_PACKAGE] ([TOP_ID], [TOP_NAME]) VALUES (1, N'Putno osiguranje')
INSERT [dbo].[TYPE_OF_PACKAGE] ([TOP_ID], [TOP_NAME]) VALUES (2, N'Osiguranje doma')
INSERT [dbo].[TYPE_OF_PACKAGE] ([TOP_ID], [TOP_NAME]) VALUES (3, N'Osiguranje vozila')
SET IDENTITY_INSERT [dbo].[TYPE_OF_PACKAGE] OFF
/****** Object:  Index [RELATIONSHIP_25_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_25_FK] ON [dbo].[AGE_GROUP]
(
	[COEFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_34_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_34_FK] ON [dbo].[CAR]
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [IS_FK] ON [dbo].[CLIENT]
(
	[AG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_22_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_22_FK] ON [dbo].[CLIENT]
(
	[POLICY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[CONTINENT]
(
	[COEFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_42_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_42_FK] ON [dbo].[DESTINATION]
(
	[ST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HOUSE_OWNER_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [HOUSE_OWNER_FK] ON [dbo].[HOME]
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_26_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_26_FK] ON [dbo].[INSURANCE_PACKAGE]
(
	[TOP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_36_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_36_FK] ON [dbo].[INSURANCE_PACKAGE]
(
	[PL_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_32_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_32_FK] ON [dbo].[ITEMS_OF_PACKAGE]
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FOR_CALCTULATION_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [FOR_CALCTULATION_FK] ON [dbo].[POLICY]
(
	[PDV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INSURANCE_PRICE_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [INSURANCE_PRICE_FK] ON [dbo].[POLICY]
(
	[PL_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OWNER_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [OWNER_FK] ON [dbo].[POLICY]
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [POSSIBLE_RISK_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [POSSIBLE_RISK_FK] ON [dbo].[POLICY]
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_23_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_23_FK] ON [dbo].[POLICY]
(
	[II_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_30_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_30_FK] ON [dbo].[POLICY]
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_21_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_21_FK] ON [dbo].[PRICELIST_ITEM]
(
	[PRICELIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN_NEED_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [IN_NEED_FK] ON [dbo].[RATE_OF_PDV]
(
	[PDV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_40_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_40_FK] ON [dbo].[RISK]
(
	[COEFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RISK_OF_CAR_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RISK_OF_CAR_FK] ON [dbo].[RISK_OF_CAR]
(
	[CARID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RISK_OF_CAR2_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RISK_OF_CAR2_FK] ON [dbo].[RISK_OF_CAR]
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RISK_OF_HOUSE_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RISK_OF_HOUSE_FK] ON [dbo].[RISK_OF_HOUSE]
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RISK_OF_HOUSE2_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RISK_OF_HOUSE2_FK] ON [dbo].[RISK_OF_HOUSE]
(
	[HOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_41_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_41_FK] ON [dbo].[STATE_OF_ORIGIN]
(
	[CONTINENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_31_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_31_FK] ON [dbo].[SUBJECT_OF_INSURANCE]
(
	[TP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_37_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_37_FK] ON [dbo].[SUBJECT_OF_INSURANCE]
(
	[DST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_38_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_38_FK] ON [dbo].[SUBJECT_OF_INSURANCE]
(
	[HOME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_39_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_39_FK] ON [dbo].[SUBJECT_OF_INSURANCE]
(
	[CARID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRAVEL_ACTIVITY_TRAVEL_PURPOSE_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [TRAVEL_ACTIVITY_TRAVEL_PURPOSE_FK] ON [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRAVEL_ACTIVITY_TRAVEL_PURPOSE2_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [TRAVEL_ACTIVITY_TRAVEL_PURPOSE2_FK] ON [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]
(
	[TP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_24_FK]    Script Date: 2/23/2017 10:57:20 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_24_FK] ON [dbo].[TRAVEL_PURPOSE]
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGE_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_AGE_GROU_RELATIONS_COEFFICI] FOREIGN KEY([COEFF_ID])
REFERENCES [dbo].[COEFFICIENT] ([COEFF_ID])
GO
ALTER TABLE [dbo].[AGE_GROUP] CHECK CONSTRAINT [FK_AGE_GROU_RELATIONS_COEFFICI]
GO
ALTER TABLE [dbo].[AGE_GROUP]  WITH CHECK ADD  CONSTRAINT [FK2ck6a0ypv1qo2mi3eo9gl2hix] FOREIGN KEY([COEFF_ID])
REFERENCES [dbo].[COEFFICIENT] ([COEFF_ID])
GO
ALTER TABLE [dbo].[AGE_GROUP] CHECK CONSTRAINT [FK2ck6a0ypv1qo2mi3eo9gl2hix]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [FK_CAR_RELATIONS_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [FK_CAR_RELATIONS_CLIENT]
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD  CONSTRAINT [FKqudpn3oci54oqa8wgn4wdo7ab] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[CAR] CHECK CONSTRAINT [FKqudpn3oci54oqa8wgn4wdo7ab]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_IS_AGE_GROU] FOREIGN KEY([AG_ID])
REFERENCES [dbo].[AGE_GROUP] ([AG_ID])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CLIENT_IS_AGE_GROU]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_RELATIONS_POLICY] FOREIGN KEY([POLICY_ID])
REFERENCES [dbo].[POLICY] ([POLICY_ID])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CLIENT_RELATIONS_POLICY]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FKjhl88642aqed8sco1mbj9gt6h] FOREIGN KEY([POLICY_ID])
REFERENCES [dbo].[POLICY] ([POLICY_ID])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FKjhl88642aqed8sco1mbj9gt6h]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FKskkwgife1njo4tqvd1gro5wmx] FOREIGN KEY([AG_ID])
REFERENCES [dbo].[AGE_GROUP] ([AG_ID])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FKskkwgife1njo4tqvd1gro5wmx]
GO
ALTER TABLE [dbo].[CONTINENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTINEN_RELATIONS_COEFFICI] FOREIGN KEY([COEFF_ID])
REFERENCES [dbo].[COEFFICIENT] ([COEFF_ID])
GO
ALTER TABLE [dbo].[CONTINENT] CHECK CONSTRAINT [FK_CONTINEN_RELATIONS_COEFFICI]
GO
ALTER TABLE [dbo].[CONTINENT]  WITH CHECK ADD  CONSTRAINT [FKldwtatkfm386ftdw9e120gl9a] FOREIGN KEY([COEFF_ID])
REFERENCES [dbo].[COEFFICIENT] ([COEFF_ID])
GO
ALTER TABLE [dbo].[CONTINENT] CHECK CONSTRAINT [FKldwtatkfm386ftdw9e120gl9a]
GO
ALTER TABLE [dbo].[DESTINATION]  WITH CHECK ADD  CONSTRAINT [FK_DESTINAT_RELATIONS_STATE_OF] FOREIGN KEY([ST_ID])
REFERENCES [dbo].[STATE_OF_ORIGIN] ([ST_ID])
GO
ALTER TABLE [dbo].[DESTINATION] CHECK CONSTRAINT [FK_DESTINAT_RELATIONS_STATE_OF]
GO
ALTER TABLE [dbo].[DESTINATION]  WITH CHECK ADD  CONSTRAINT [FK8c0x6mbsdw8w4y3if0ed26adh] FOREIGN KEY([ST_ID])
REFERENCES [dbo].[STATE_OF_ORIGIN] ([ST_ID])
GO
ALTER TABLE [dbo].[DESTINATION] CHECK CONSTRAINT [FK8c0x6mbsdw8w4y3if0ed26adh]
GO
ALTER TABLE [dbo].[HOME]  WITH CHECK ADD  CONSTRAINT [FK_HOME_HOUSE_OWN_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[HOME] CHECK CONSTRAINT [FK_HOME_HOUSE_OWN_CLIENT]
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FK_INSURANC_RELATIONS_PRICELIS] FOREIGN KEY([PL_ITEM_ID])
REFERENCES [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID])
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE] CHECK CONSTRAINT [FK_INSURANC_RELATIONS_PRICELIS]
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FK_INSURANC_RELATIONS_TYPE_OF_] FOREIGN KEY([TOP_ID])
REFERENCES [dbo].[TYPE_OF_PACKAGE] ([TOP_ID])
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE] CHECK CONSTRAINT [FK_INSURANC_RELATIONS_TYPE_OF_]
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FKioi3b8frwo954n0jk3aw49bpn] FOREIGN KEY([TOP_ID])
REFERENCES [dbo].[TYPE_OF_PACKAGE] ([TOP_ID])
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE] CHECK CONSTRAINT [FKioi3b8frwo954n0jk3aw49bpn]
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FKsrswyhkry12eo3385x2pdmj8l] FOREIGN KEY([PL_ITEM_ID])
REFERENCES [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID])
GO
ALTER TABLE [dbo].[INSURANCE_PACKAGE] CHECK CONSTRAINT [FKsrswyhkry12eo3385x2pdmj8l]
GO
ALTER TABLE [dbo].[ITEMS_OF_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FK_ITEMS_OF_RELATIONS_INSURANC] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[ITEMS_OF_PACKAGE] CHECK CONSTRAINT [FK_ITEMS_OF_RELATIONS_INSURANC]
GO
ALTER TABLE [dbo].[ITEMS_OF_PACKAGE]  WITH CHECK ADD  CONSTRAINT [FKqnq0a1eu2i4dx7nk368ay71sv] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[ITEMS_OF_PACKAGE] CHECK CONSTRAINT [FKqnq0a1eu2i4dx7nk368ay71sv]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK_POLICY_FOR_CALCT_PDV] FOREIGN KEY([PDV_ID])
REFERENCES [dbo].[PDV] ([PDV_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK_POLICY_FOR_CALCT_PDV]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK_POLICY_INSURANCE_PRICELIS] FOREIGN KEY([PL_ITEM_ID])
REFERENCES [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK_POLICY_INSURANCE_PRICELIS]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK_POLICY_OWNER_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK_POLICY_OWNER_CLIENT]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK_POLICY_POSSIBLE__RISK] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK_POLICY_POSSIBLE__RISK]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK_POLICY_RELATIONS_INSURANC] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK_POLICY_RELATIONS_INSURANC]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK_POLICY_RELATIONS_SUBJECT_] FOREIGN KEY([II_ID])
REFERENCES [dbo].[SUBJECT_OF_INSURANCE] ([II_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK_POLICY_RELATIONS_SUBJECT_]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK5y2ffe3y4blou3a9mdgxulm6o] FOREIGN KEY([PL_ITEM_ID])
REFERENCES [dbo].[PRICELIST_ITEM] ([PL_ITEM_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK5y2ffe3y4blou3a9mdgxulm6o]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FK9mo7soelkv44xg07khd7lkn3u] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FK9mo7soelkv44xg07khd7lkn3u]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FKgv2wbbliy5t38ta6fr8728835] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FKgv2wbbliy5t38ta6fr8728835]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FKnwfa62b1bv90cymutkqb9fjfp] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FKnwfa62b1bv90cymutkqb9fjfp]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FKpb1yhnajo646ctcg4b1axr6p8] FOREIGN KEY([II_ID])
REFERENCES [dbo].[SUBJECT_OF_INSURANCE] ([II_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FKpb1yhnajo646ctcg4b1axr6p8]
GO
ALTER TABLE [dbo].[POLICY]  WITH CHECK ADD  CONSTRAINT [FKsbdoesuv13039811jvasuoipd] FOREIGN KEY([PDV_ID])
REFERENCES [dbo].[PDV] ([PDV_ID])
GO
ALTER TABLE [dbo].[POLICY] CHECK CONSTRAINT [FKsbdoesuv13039811jvasuoipd]
GO
ALTER TABLE [dbo].[PRICELIST_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_PRICELIS_RELATIONS_PRICELIS] FOREIGN KEY([PRICELIST_ID])
REFERENCES [dbo].[PRICELIST] ([PRICELIST_ID])
GO
ALTER TABLE [dbo].[PRICELIST_ITEM] CHECK CONSTRAINT [FK_PRICELIS_RELATIONS_PRICELIS]
GO
ALTER TABLE [dbo].[PRICELIST_ITEM]  WITH CHECK ADD  CONSTRAINT [FKrj0fqhdlepbpcno6pidue6b0w] FOREIGN KEY([PRICELIST_ID])
REFERENCES [dbo].[PRICELIST] ([PRICELIST_ID])
GO
ALTER TABLE [dbo].[PRICELIST_ITEM] CHECK CONSTRAINT [FKrj0fqhdlepbpcno6pidue6b0w]
GO
ALTER TABLE [dbo].[RATE_OF_PDV]  WITH CHECK ADD  CONSTRAINT [FK_RATE_OF__IN_NEED_PDV] FOREIGN KEY([PDV_ID])
REFERENCES [dbo].[PDV] ([PDV_ID])
GO
ALTER TABLE [dbo].[RATE_OF_PDV] CHECK CONSTRAINT [FK_RATE_OF__IN_NEED_PDV]
GO
ALTER TABLE [dbo].[RATE_OF_PDV]  WITH CHECK ADD  CONSTRAINT [FKc33p98wy9ieru0k0mxvqt5der] FOREIGN KEY([PDV_ID])
REFERENCES [dbo].[PDV] ([PDV_ID])
GO
ALTER TABLE [dbo].[RATE_OF_PDV] CHECK CONSTRAINT [FKc33p98wy9ieru0k0mxvqt5der]
GO
ALTER TABLE [dbo].[RISK]  WITH CHECK ADD  CONSTRAINT [FK_RISK_RELATIONS_COEFFICI] FOREIGN KEY([COEFF_ID])
REFERENCES [dbo].[COEFFICIENT] ([COEFF_ID])
GO
ALTER TABLE [dbo].[RISK] CHECK CONSTRAINT [FK_RISK_RELATIONS_COEFFICI]
GO
ALTER TABLE [dbo].[RISK]  WITH CHECK ADD  CONSTRAINT [FK6ty7h7rf3nrlt95l1b40cbw8v] FOREIGN KEY([COEFF_ID])
REFERENCES [dbo].[COEFFICIENT] ([COEFF_ID])
GO
ALTER TABLE [dbo].[RISK] CHECK CONSTRAINT [FK6ty7h7rf3nrlt95l1b40cbw8v]
GO
ALTER TABLE [dbo].[RISK_OF_CAR]  WITH CHECK ADD  CONSTRAINT [FK_RISK_OF__RISK_OF_C_CAR] FOREIGN KEY([CARID])
REFERENCES [dbo].[CAR] ([CARID])
GO
ALTER TABLE [dbo].[RISK_OF_CAR] CHECK CONSTRAINT [FK_RISK_OF__RISK_OF_C_CAR]
GO
ALTER TABLE [dbo].[RISK_OF_CAR]  WITH CHECK ADD  CONSTRAINT [FK_RISK_OF__RISK_OF_C_RISK] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[RISK_OF_CAR] CHECK CONSTRAINT [FK_RISK_OF__RISK_OF_C_RISK]
GO
ALTER TABLE [dbo].[RISK_OF_CAR]  WITH CHECK ADD  CONSTRAINT [FKj1un6pij1k16m1gbbyumx9ly9] FOREIGN KEY([CARID])
REFERENCES [dbo].[CAR] ([CARID])
GO
ALTER TABLE [dbo].[RISK_OF_CAR] CHECK CONSTRAINT [FKj1un6pij1k16m1gbbyumx9ly9]
GO
ALTER TABLE [dbo].[RISK_OF_CAR]  WITH CHECK ADD  CONSTRAINT [FKqfi048hha2no1a6xn99l87s5s] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[RISK_OF_CAR] CHECK CONSTRAINT [FKqfi048hha2no1a6xn99l87s5s]
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE]  WITH CHECK ADD  CONSTRAINT [FK_RISK_OF__RISK_OF_H_HOME] FOREIGN KEY([HOME_ID])
REFERENCES [dbo].[HOME] ([HOME_ID])
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE] CHECK CONSTRAINT [FK_RISK_OF__RISK_OF_H_HOME]
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE]  WITH CHECK ADD  CONSTRAINT [FK_RISK_OF__RISK_OF_H_RISK] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE] CHECK CONSTRAINT [FK_RISK_OF__RISK_OF_H_RISK]
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE]  WITH CHECK ADD  CONSTRAINT [FK53f0mqy8v3nabv18t9h3bmlhj] FOREIGN KEY([HOME_ID])
REFERENCES [dbo].[HOME] ([HOME_ID])
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE] CHECK CONSTRAINT [FK53f0mqy8v3nabv18t9h3bmlhj]
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE]  WITH CHECK ADD  CONSTRAINT [FK5y0jscr5bk5twvwajybcn0b78] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[RISK_OF_HOUSE] CHECK CONSTRAINT [FK5y0jscr5bk5twvwajybcn0b78]
GO
ALTER TABLE [dbo].[STATE_OF_ORIGIN]  WITH CHECK ADD  CONSTRAINT [FK_STATE_OF_RELATIONS_CONTINEN] FOREIGN KEY([CONTINENT_ID])
REFERENCES [dbo].[CONTINENT] ([CONTINENT_ID])
GO
ALTER TABLE [dbo].[STATE_OF_ORIGIN] CHECK CONSTRAINT [FK_STATE_OF_RELATIONS_CONTINEN]
GO
ALTER TABLE [dbo].[STATE_OF_ORIGIN]  WITH CHECK ADD  CONSTRAINT [FKrpyquw2tnyphtlfflvm2g9s2n] FOREIGN KEY([CONTINENT_ID])
REFERENCES [dbo].[CONTINENT] ([CONTINENT_ID])
GO
ALTER TABLE [dbo].[STATE_OF_ORIGIN] CHECK CONSTRAINT [FKrpyquw2tnyphtlfflvm2g9s2n]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECT__RELATIONS_CAR] FOREIGN KEY([CARID])
REFERENCES [dbo].[CAR] ([CARID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FK_SUBJECT__RELATIONS_CAR]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECT__RELATIONS_DESTINAT] FOREIGN KEY([DST_ID])
REFERENCES [dbo].[DESTINATION] ([DST_ID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FK_SUBJECT__RELATIONS_DESTINAT]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECT__RELATIONS_HOME] FOREIGN KEY([HOME_ID])
REFERENCES [dbo].[HOME] ([HOME_ID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FK_SUBJECT__RELATIONS_HOME]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECT__RELATIONS_TRAVEL_P] FOREIGN KEY([TP_ID])
REFERENCES [dbo].[TRAVEL_PURPOSE] ([TP_ID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FK_SUBJECT__RELATIONS_TRAVEL_P]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FK8ukpo4thu5y5t7rxnf38fj4vx] FOREIGN KEY([CARID])
REFERENCES [dbo].[CAR] ([CARID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FK8ukpo4thu5y5t7rxnf38fj4vx]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FKh7tj710ed4q1xwn863ntw59ew] FOREIGN KEY([TP_ID])
REFERENCES [dbo].[TRAVEL_PURPOSE] ([TP_ID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FKh7tj710ed4q1xwn863ntw59ew]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FKl6xju5p46cgdpuj4crn0xs1ly] FOREIGN KEY([DST_ID])
REFERENCES [dbo].[DESTINATION] ([DST_ID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FKl6xju5p46cgdpuj4crn0xs1ly]
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE]  WITH CHECK ADD  CONSTRAINT [FKmqvri2dov0snthne4169fhbac] FOREIGN KEY([HOME_ID])
REFERENCES [dbo].[HOME] ([HOME_ID])
GO
ALTER TABLE [dbo].[SUBJECT_OF_INSURANCE] CHECK CONSTRAINT [FKmqvri2dov0snthne4169fhbac]
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]  WITH CHECK ADD  CONSTRAINT [FK_TRAVEL_A_TRAVEL_AC_RISK] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE] CHECK CONSTRAINT [FK_TRAVEL_A_TRAVEL_AC_RISK]
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]  WITH CHECK ADD  CONSTRAINT [FK_TRAVEL_A_TRAVEL_AC_TRAVEL_P] FOREIGN KEY([TP_ID])
REFERENCES [dbo].[TRAVEL_PURPOSE] ([TP_ID])
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE] CHECK CONSTRAINT [FK_TRAVEL_A_TRAVEL_AC_TRAVEL_P]
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]  WITH CHECK ADD  CONSTRAINT [FK4ux3r9wx9agrvinlc3m5qnpd9] FOREIGN KEY([R_ID])
REFERENCES [dbo].[RISK] ([R_ID])
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE] CHECK CONSTRAINT [FK4ux3r9wx9agrvinlc3m5qnpd9]
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE]  WITH CHECK ADD  CONSTRAINT [FK7b465nog6jhyl5whft7dfk4q6] FOREIGN KEY([TP_ID])
REFERENCES [dbo].[TRAVEL_PURPOSE] ([TP_ID])
GO
ALTER TABLE [dbo].[TRAVEL_ACTIVITY_TRAVEL_PURPOSE] CHECK CONSTRAINT [FK7b465nog6jhyl5whft7dfk4q6]
GO
ALTER TABLE [dbo].[TRAVEL_PURPOSE]  WITH CHECK ADD  CONSTRAINT [FK_TRAVEL_P_RELATIONS_INSURANC] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[TRAVEL_PURPOSE] CHECK CONSTRAINT [FK_TRAVEL_P_RELATIONS_INSURANC]
GO
ALTER TABLE [dbo].[TRAVEL_PURPOSE]  WITH CHECK ADD  CONSTRAINT [FK56yr5f7th5iiugwdv5jxkjv1f] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[INSURANCE_PACKAGE] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[TRAVEL_PURPOSE] CHECK CONSTRAINT [FK56yr5f7th5iiugwdv5jxkjv1f]
GO
USE [master]
GO
