<h2>States List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>State id</th>

            <th>State name</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="state in vm.states track by state.id">
            <td>{{state.id}}</td>

            <td>{{state.name}}</td>
            <td><input type="button" ng-click="vm.deleteState(state)"class="btn btn-default" value="Delete" data-toggle="modal" data-target="#formDeleteState"/></td>
            <td><input type="button" ng-click="vm.editFunction(state)" class="btn btn-default" value="Edit" data-toggle="modal" data-target="#formCreateState"/></td>


        </tr>
    </tbody>
</table>

<input type="button" ng-click="vm.createFunction()" class="btn btn-default" value="Create" data-toggle="modal" data-target="#formCreateState"/>

<form id="formCreateState" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new state</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.createStatesInput.name">
                </div>
                
            </div>
            <div class="modal-footer">
                

                <div>
                    <button type="submit" ng-show="showme" class="btn btn-success" ng-click="vm.editStates(vm.createStatesInput)">Edit</button>
                    <button  ng-show="!showme" type="submit" class="btn btn-success" ng-click="vm.createStates()">Submit</button>
                
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
</form>







